<div class="high_likes_topics box">
  <h2 class="title">高分帖子</h2>
  <ol>
    <% @topics.each do |item| %>
      <li>
        <%= link_to(item.title, topic_path(item))%>
        <span class="count"><%= item.likes_count %> 人喜欢</span>
      </li>
    <% end %>
  </ol>
</div>