<div id="sections" class="box">
    <h2>讨论节点分类导航</h2>
    <ul>
        <% @sections.each do |section| %>
        <li>
            <label><%= section.name %></label>
            <% section.nodes.each do |node| %>
            <a href="<%= node_topics_path(node.id) %>" title="<%= node.name %>"><%= node.name %></a>
            <% end %>
        </li>
        <% end %>
    </ul>
</div>