  <ul>
    <li>**粗体**、*斜体*、_底线_、`段内程式码`</li>
    <li>URL会自动变成超连结</li>
    <li>@name 会变成使用者页面的超连结</li>
    <li>[img]http://foo.bar/a.jpg[/img] 显示图片</li>
    <li>```<br>code<br>```<br> 会变成程式码区块，可以用<br>``` ruby<br>code<br>```<br>强制指定语言</li>
  </ul>