  <ul>
    <li><strong>**粗體**</strong>、<em>*斜體*</em>、<code>`段內程式碼`</code></li>
    <li><a href="http://example.org">http://example.org</a> 自動超連結</li>
    <li><%= link_to("@name", "/users/name")%> 會變成使用者頁面的超連結</li>
    <li>[img]http://foo.bar/a.jpg[/img] 顯示圖片</li>
    <li>``` code ``` 會變成程式碼區塊，可以用 ``` ruby code ``` 强制指定語言</li>
  </ul>