<ul>
    <li><strong>**粗体**</strong>、<em>*斜体*、_下划线_</em>、<code>`段内程式码`</code></li>
    <li>http://example.org 自动加链接</li>
    <li>@name  会链接到用户</li>
    <li>[img]http://foo.bar/a.jpg[/img] 显示图片</li>
    <li>``` code ``` 会变成代码区块，可以用 ```ruby​​ code ``` 指定语言, 支持的<a href="http://pygments.org/docs/lexers/" target="_blank">语言列表</a></li>
  </ul>