<ul>
    <li><strong>**粗体**</strong>、<em>*斜体*、_底线_</em>、<code>`段内程式码`</code></li>
    <li><a href="http://example.org">http://example.org</a> 自动超连结</li>
    <li><%= link_to("@na​​me", "/users/name")%> 会变成使用者页面的超连结</li>
    <li>[img]http://foo.bar/a.jpg[/img] 显示图片</li>
    <li>``` code ``` 会变成代码区块，可以用``` ruby​​ code ``` 强制指定语言</li>
  </ul>