<div class="suggest_topics box">
  <h2>置顶话题</h2>
  <ul>
    <% @suggest_topics.each do |item| %>
      <li><a href="<%= topic_path(:id => item.id) %>"><%= item.title %></a></li>
    <% end %>
  </ul>
</div>