<div class="suggest_topics box">
  <h2><%= t("common.highlight_topic")%></h2>
  <ul>
    <% @suggest_topics.each do |item| %>
        <li> <%= link_to(item.title, topic_path(item))%></li>
    <% end %>
  </ul>
</div>