<div class="totals box">
    <h2><%= t("common.statics")%></h2>
    <ul>
        <li>社區會員: <%= User.count %> 人</li>
        <li>話題數: <%= Topic.count %> 个</li>
        <li>回應數: <%= Reply.count %> 条</li>
    </ul>
</div>
