<div class="totals box">
  <h2 class="title"><%= t("common.statics")%></h2>
  <ul>
    <li>社区会员: <%= @users_count %> 人</li>
    <li>帖子数: <%= @topics_count %> 个</li>
    <li>回帖数: <%= @replies_count %> 条</li>
  </ul>
</div>
