/*

        Creating a sprite from following images:
        
        app/assets/images/sprites/icons/rss.png (16x16)

        Output files:
          app/assets/images/sprites/icons.png
          app/assets/stylesheets/sprites/icons.scss

        Output size:
          16x16


*/
.icons_rss { width: 16px; height: 16px; background: url(image-path('sprites/icons.png')) 0px 0px no-repeat; }
