/*

        Creating a sprite from following images:
        
        app/assets/images/sprites/share_icons/douban.png (16x16)
        app/assets/images/sprites/share_icons/facebook.png (16x16)
        app/assets/images/sprites/share_icons/rss.png (16x16)
        app/assets/images/sprites/share_icons/twitter.png (16x16)
        app/assets/images/sprites/share_icons/weibo.png (16x16)

        Output files:
          app/assets/images/sprites/share_icons.png
          app/assets/stylesheets/sprites/share_icons.scss

        Output size:
          80x16


*/
.share_icons_douban { width: 16px; height: 16px; background: url(image-path('sprites/share_icons.png')) 0px 0px no-repeat; }
.share_icons_facebook { width: 16px; height: 16px; background: url(image-path('sprites/share_icons.png')) -16px 0px no-repeat; }
.share_icons_rss { width: 16px; height: 16px; background: url(image-path('sprites/share_icons.png')) -32px 0px no-repeat; }
.share_icons_twitter { width: 16px; height: 16px; background: url(image-path('sprites/share_icons.png')) -48px 0px no-repeat; }
.share_icons_weibo { width: 16px; height: 16px; background: url(image-path('sprites/share_icons.png')) -64px 0px no-repeat; }
