/*

        Creating a sprite from following images:
        
        app/assets/images/sprites/small@2x/bookmark.png (24x24)
        app/assets/images/sprites/small@2x/bookmarked.png (24x24)
        app/assets/images/sprites/small@2x/cert.png (24x24)
        app/assets/images/sprites/small@2x/cert_on.png (24x24)
        app/assets/images/sprites/small@2x/code.png (24x24)
        app/assets/images/sprites/small@2x/delete.png (24x24)
        app/assets/images/sprites/small@2x/edit.png (24x24)
        app/assets/images/sprites/small@2x/follow.png (24x24)
        app/assets/images/sprites/small@2x/followed.png (24x24)
        app/assets/images/sprites/small@2x/image.png (24x24)
        app/assets/images/sprites/small@2x/like.png (24x24)
        app/assets/images/sprites/small@2x/liked.png (24x24)
        app/assets/images/sprites/small@2x/lock.png (24x24)
        app/assets/images/sprites/small@2x/pin.png (24x24)
        app/assets/images/sprites/small@2x/reply.png (24x24)

        Output files:
          app/assets/images/sprites/small@2x.png
          app/assets/stylesheets/sprites/small@2x.scss

        Output size:
          24x360


*/
@media only screen and (-webkit-device-pixel-ratio: 2){
.small_bookmark { display:inline-block; width: 12px; height: 12px; background: url(image-path('sprites/small@2x.png')) 0px 0px no-repeat; background-size:12px 180px; }
.small_bookmarked { display:inline-block; width: 12px; height: 12px; background: url(image-path('sprites/small@2x.png')) 0px -12px no-repeat; background-size:12px 180px; }
.small_cert { display:inline-block; width: 12px; height: 12px; background: url(image-path('sprites/small@2x.png')) 0px -24px no-repeat; background-size:12px 180px; }
.small_cert_on { display:inline-block; width: 12px; height: 12px; background: url(image-path('sprites/small@2x.png')) 0px -36px no-repeat; background-size:12px 180px; }
.small_code { display:inline-block; width: 12px; height: 12px; background: url(image-path('sprites/small@2x.png')) 0px -48px no-repeat; background-size:12px 180px; }
.small_delete { display:inline-block; width: 12px; height: 12px; background: url(image-path('sprites/small@2x.png')) 0px -60px no-repeat; background-size:12px 180px; }
.small_edit { display:inline-block; width: 12px; height: 12px; background: url(image-path('sprites/small@2x.png')) 0px -72px no-repeat; background-size:12px 180px; }
.small_follow { display:inline-block; width: 12px; height: 12px; background: url(image-path('sprites/small@2x.png')) 0px -84px no-repeat; background-size:12px 180px; }
.small_followed { display:inline-block; width: 12px; height: 12px; background: url(image-path('sprites/small@2x.png')) 0px -96px no-repeat; background-size:12px 180px; }
.small_image { display:inline-block; width: 12px; height: 12px; background: url(image-path('sprites/small@2x.png')) 0px -108px no-repeat; background-size:12px 180px; }
.small_like { display:inline-block; width: 12px; height: 12px; background: url(image-path('sprites/small@2x.png')) 0px -120px no-repeat; background-size:12px 180px; }
.small_liked { display:inline-block; width: 12px; height: 12px; background: url(image-path('sprites/small@2x.png')) 0px -132px no-repeat; background-size:12px 180px; }
.small_lock { display:inline-block; width: 12px; height: 12px; background: url(image-path('sprites/small@2x.png')) 0px -144px no-repeat; background-size:12px 180px; }
.small_pin { display:inline-block; width: 12px; height: 12px; background: url(image-path('sprites/small@2x.png')) 0px -156px no-repeat; background-size:12px 180px; }
.small_reply { display:inline-block; width: 12px; height: 12px; background: url(image-path('sprites/small@2x.png')) 0px -168px no-repeat; background-size:12px 180px; }
}
