<div id="reply" class="form box">
  <div style="padding:20px;" data-turbolinks-action="replace">
    需要 <%= link_to(t("common.login"), "/account/sign_in", class: "btn btn-primary")%> 后方可回复, 如果你还没有账号请点击这里 <%= link_to("#{t("common.register")}", "/account/sign_up", class: "btn btn-danger")%>。
  </div>
</div>
