<div id="reply" class="form box">
    <div style="padding:20px;">
    需要 <%= link_to(t("common.login"), "/account/sign_in", :class => "btn primary")%> 后回复方可回复, 如果你还没有账号你可以 <%= link_to("#{t("common.register")}", "/account/sign_up", :class => "btn danger")%> 一个帐号。
    </div>
</div>