<div id="reply" class="form box">
    <div style="padding:20px;">
    需要 <%= link_to(t("common.login"), "/account/sign_in", :classs => "btn primary")%> 後方可回應，如果你還沒有帳號 <%= link_to(" 按這裡 #{t("common.register")}", "/account/sign_up", :class => "btn danger")%>。
    </div>
</div>