<div id="reply" class="form box">
    <div style="padding:20px;">
    需要 <%= link_to(t("common.login"), "/account/sign_in", :classs => "btn primary")%> 后回复方可回复, 如果你还没有账号 <%= link_to(" 点击这里 #{t("common.register")}", "/account/sign_up", :class => "btn danger")%>。
    </div>
</div>