<h1><%= t("cpanel.site_configs.settings") %></h1>

<table class="table table-bordered table-striped table-condensed">
  <tr>
    <th>Key</th>
    <th>说明</th>
    <th></th>
  </tr>

<% @site_configs.each do |site_config| %>
  <tr>
    <td><%= site_config.key %></td>
    <td><%= t("site_config.#{site_config.key}") %></td>
    <td class="opts"><%= link_to icon_tag("fa fa-pencil"), edit_cpanel_site_config_path(site_config) %></td>
  </tr>
<% end %>
</table>
