<h1><%= t("cpanel.site_configs.settings") %></h1>

<table>
  <tr>
    <th>key</th>
    <th></th>
  </tr>

<% @site_configs.each do |site_config| %>
  <tr>
    <td><%= site_config.key %></td>
    <td><%= link_to '', edit_cpanel_site_config_path(site_config), :class => "icon small_edit" %></td>
  </tr>
<% end %>
</table>
