<div class="sidebar team-sidebar col-sm-4">
  <div class="card members">
    <div class="card-header"><%= t('teams.users') %></div>
    <div class="card-body">
      <% @team.team_users.accepted.includes(:user).limit(10).each do |team_user| %>
        <%= user_avatar_tag(team_user.user, :sm) %>
      <% end %>
    </div>
    <div class="card-footer">
      <%= link_to t("teams.all_members"), user_team_users_path(@team) %>
    </div>
  </div>

  <%= render '/users/repos', user: @team %>
</div>
