<div class="grid grid-cols-4 gap-4">
  <% teams.each do |team| %>
      <div class="media">
        <div class="media-left mr-3"><%= user_avatar_tag(team, :md) %></div>
        <div class="grow">
          <div class=" font-bold">
            <%= user_name_tag(team) %>
          </div>
          <div class="mt-1 text-xs">
            <div class="item opts"><%= team_member_counts_tag(team) %></div>
          </div>
        </div>
      </div>
  <% end %>
</div>
