<div class="row">
  <% teams.each do |team| %>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <div class="media user-card">
      <div class="media-left"><%= user_avatar_tag(team, :md) %></div>
      <div class="media-body">
        <div class="media-heading"><%= user_name_tag(team) %></div>
        <div class="infos">
          <div class="item opts"><%= team_member_counts_tag(team) %></div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
