<%= render '/teams/header' %>

<div class="row">
  <div class="col-md-8">
    <div class="card topics">
      <div class="card-body">
        <% if @topics.blank? %>
        <div class="topic"><div class="no-result">No records</div></div>
        <% else %>
          <%= render TopicComponent.with_collection(@topics, type: "team") %>
        <% end %>
      </div>
      <div class="card-footer">
        <%= paginate @topics %>
      </div>
    </div>
  </div>

  <%= render '/teams/sidebar' %>
</div>
