<%= render '/teams/header' %>

<div class="flex flex-col md:flex-row justify-center gap-4">
  <div class="grow">
    <div class="bg-white topics rounded">
      <div class="px-4">
        <% if @topics.blank? %>
        <div class="topic"><div class="no-result">No records</div></div>
        <% else %>
          <%= render TopicComponent.with_collection(@topics, type: "team") %>
        <% end %>
      </div>
      <div class="card-footer">
        <%= paginate @topics %>
      </div>
    </div>
  </div>

  <%= render '/teams/sidebar' %>
</div>
