<% content_for :sitemap do %>
  <a href="<%= cpanel_photos_path %>"><%= t("cpanel.menu.photos")%></a> &gt; <span class="current"><%= t("common.upload")%></span>
<% end %>
<h1>New photo</h1>

<%= render 'form' %>


