<%= form_for(@note) do |f| %>
  <fieldset>
    <%= render "shared/error_messages", :target => @note %>
    <%= f.text_area :body, :class => "long", :style => "height:500px" %>
    <div class="buttons">
      <button type="submit" class="btn primary">保存</button> <a href="<%= notes_path %>" class="btn">取消</a>
    </div>
  </fieldset>
<% end %>
