<%= content_for :sitemap do %>
  <a href="<%= notes_path %>">记事本</a> &gt;
  <span class="current">修改</span>
<% end %>
<div class="leftbox">
  <div class="notes box">
    <h1>修改记事本</h1>
    <%= render 'form' %>
  </div>
</div>
<%= render "sidebar" %>
