<% title_tag t('notes.edit_note') %>

<div class="row">
  <div class="col-sm-9">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= render 'form' %>
      </div>
    </div>
  </div>

  <%= render "sidebar" %>
</div>
