<%= render "base" %>
<%= content_for :sitemap do %>
  <li class="current">新建</li>
<% end %>
<%= render "sidebar" %>
<div class="content">
  <div class="notes box">
    <h1>新建记事本</h1>
    <%= render 'form' %>
  </div>
</div>

