<%
  topic = notification.target
%>

<% if topic.blank? %>
  <div class="media-body">相关信息已删除</div>
<% else %>
  <div class="media-heading">
    在 <%= topic_title_tag(topic) %> 提及你：
  </div>
  <div class="media-content summary markdown">
    <%= topic.body_html %>
  </div>
<% end %>
