<%
  topic = notification.target
%>

<% if topic.blank? %>
  <div class="media-body"><%= t("notifications.source_deleted") %></div>
<% else %>
  <div class="media-heading">
    <%= t("notifications.mention_title_html", url: main_app.topic_path(topic), title: topic.title) %>
  </div>
  <div class="media-content summary markdown">
    <%= topic.body_html %>
  </div>
<% end %>
