.bundle
tmp/
coverage/
db/*.sqlite3
tmp/
log/*.log
log/*.log*
tmp/**/*
.sass-cache/
.yardoc/
public/assets/
config/database.yml
config/mongoid.yml
config/config.yml
config/thin.yml
config/redis.yml
config/mailer_daemon.yml
config/secrets.yml
public/uploads/**/*
public/system/**/*
public/topics
public/topics/**/*
.redcar
.DS_Store
*.swp
*.swo
*.sublime-workspace
.rvmrc
vendor/ruby
doc/wiki_repo
solr/data/
solr/pids/
tags
chromedriver.log
.idea/
spec/examples.txt
.vagrant
.byebug_history
