.bundle
db/*.sqlite3
log/*.log
tmp/**/*
config/database.yml
config/config.yml
public/uploads/**/*
public/javascripts/cached_*
public/stylesheets/cached_*
public/topics
public/topics/**/*
.redcar
Gemfile.lock
