.bundle
db/*.sqlite3
log/*.log
tmp/**/*
.sass-cache/
config/database.yml
config/mongoid.yml
config/config.yml
config/mongoid.yml
config/mailer_daemon.yml
public/uploads/**/*
public/t
public/t/**/*
.redcar
Gemfile.lock
