<div class="card">
  <div class="card-header">
    <%= t('doorkeeper.authorizations.error.title') %>
  </div>
  <div class="card-body">
    <pre><%= @pre_auth.error_response.body[:error_description] %></pre>
  </div>
</div>
