<div class="row" style="padding: 50px 0;">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">Authorized successfully</div>

      <div class="card-body">
        <p>Since the application does not configure a return URL, please use the authorization code:</p>
        <p class="text-info"><%= params[:code] %></p>
      </div>
    </div>

  </div>
</div>
