<div class="row" style="padding: 50px 0;">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">授权成功</div>

      <div class="card-body">
        <p>由于应用没有配置回调地址，请使用授权码：</p>
        <p class="text-info"><%= params[:code] %></p>
      </div>
    </div>

  </div>
</div>
