<% content_for :sitemap do %>
  <a href="<%= cpanel_users_path %>"><%= t("cpanel.menu.users")%></a> &gt; <span class="current"><%= t("common.edit")%></span>
<% end %>
<h1>Editing user</h1>

<%= render 'form' %>

