<% content_for :sitemap do %>
  <a href="<%= cpanel_users_path %>">用户</a> &gt; <span class="current">修改</span>
<% end %>
<h1>Editing user</h1>

<%= render 'form' %>

<%= link_to 'Back', cpanel_users_path %>
