<div class="tab-pane active" id="<%= div_id %>">
    <div class="header">
      <h2></h2>
      <p class="info">
        
      </p>
    </div>
    <div class="summary">
      <blockquote>
        無搜尋結果，要不要試試 搜尋 <%= title %> 中有關 <%= link_to(" #{params[:q]}", "/search/#{search_type}?=#{params[:q]}")%> 的結果？
      </blockquote>
    </div>
</div>