<div id="search_result_box" class="box">
  <script>
    (function() {
      var cx = '<%= Setting.google_custom_search_id %>';
      var gcse = document.createElement('script'); gcse.type = 'text/javascript'; gcse.async = false;
      gcse.src = (document.location.protocol == 'https' ? 'https:' : 'http:') +
          '//www.google.com/cse/cse.js?cx=' + cx;
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(gcse, s);
    })();
  </script>
  <gcse:search>
    <div class="loading">
      <div class="progress progress-danger progress-striped active">
        <div class="bar" style="width: 100%;"></div>
      </div>
      正在加载 Google 搜索...
    </div>
  </gcse:search>
</div>

