<% title_tag [params[:q], t('common.search_result')].join(' · ') %>

<div class="search-results panel panel-default">
  <div class="panel-heading clearfix">
    关于 “<%= params[:q] %>” 的搜索结果, 共 <%= @result.records.total %> 条
  </div>

  <div class="panel-body">
    <% @result.records.each_with_hit do |item, hit| %>
      <% partial_view_name = item.class.name.downcase -%>
      <%= render partial: (partial_view_name == 'team' ? 'user' : partial_view_name), locals: { item: item, hit: hit } %>
    <% end %>
  </div>

  <div class="panel-footer clearfix">
    <%= will_paginate @result %>
  </div>
</div>
