<%= render "base" %>

<div class="box">
  <%= render "menu" %>
  <div class="tab-content">
    <%= render :partial => "topics_pane", :locals => { :topics => @topics} %>
  </div>
</div>

<script type="text/javascript">
  $(".tab-content").highlight("<%= @q %>");
</script>
