<%= render 'base' %>
<div class="tools">
  <%= link_to '返回', admin_exception_logs_path, class: "btn btn-small" %>
</div>

<div id="admin_exception_log" style="margin-top:10px;">
  <pre><%= @exception_log.body %></pre>
</div>