<div class="topic-reward">
  <div class="media-body">
    <strong>如果觉得我的文章对您有用，请随意打赏。您的支持将鼓励我继续创作！</strong>
  </div>
  <div class="media-right">
    <%= reward_user_tag(@article.user) %>
  </div>
</div>