<div class="editor_toolbar">
  <div class="icons pull-right">
    <%= link_to("", "#", :onclick => "return Topics.addImageClick();", :id => "add_image", :rel => "twipsy", :title => t("topics.add_image"), :class => "icon small_image")%>
  </div>
  <ul class="pills" style="clear:none;">
    <li class="edit active"><%= link_to(t("common.editor_toolbar_edit"), "#") %></li>
    <li class="preview"><%= link_to(t("common.editor_toolbar_preview"), "#") %></li>
  </ul>
</div>