<% if replies.blank? %>
  <div class="no_result">
    <%= t("topics.no_replies") %>
  </div>
<% else %>
<div id="replies" class="box">
  <%= render "topics/translation/topic_reply_statics", :topic => topic %>
  <% cache("topic:#{topic.id}:replies:#{topic.updated_at}") do %>
    <%= render :partial => "replies/reply", :collection => replies %>
  <% end %>
</div>
<% end %>
