<% if replies.blank? %>
  <div class="no_result">
    <%= t("topics.no_replies") %>
  </div>
<% else %>
<div id="replies" class="box">
  <%= render :partial => "topics/translation/topic_reply_statics", :locals => { :topic => topic }%>
  <% replies.each_with_index do |reply,i| %>
    <%= render "reply", :item => reply, :i => i %>
  <% end %>
</div>
<% end %>