<% if replies.blank? %>
  <div class="no_result">
    <%= t("topics.no_replies") %>
  </div>
<% else %>
<div id="replies" class="box">
  <%= render "topics/translation/topic_reply_statics", :topic => topic %>
  <%= render :partial => "replies/reply", :collection => replies %>
</div>
<% end %>
