<div class="box" style="text-align:center;">
  <p> <%= link_to(t("topics.start_a_new_topic_button"), new_topic_path, :class => "btn success" )%>  </p>
  <hr>
      <p>
          <%= link_to(image_tag("feed.png", :alt => t("topics.subscribe_with_rss", :name => Setting.app_name) ), feed_topics_url, :title => t("topics.subscribe_with_rss", :name => Setting.app_name) )%>
      </p>
</div>