<div class="box" style="text-align:center;">
  <p> <%= link_to("发布新帖", new_topic_path )%>  </p>
  <hr>
      <p>
          <a href="<%= feed_topics_url %>" title="用RSS阅读器订阅<%= Setting.app_name %>社区新贴">
              <%= image_tag('feed.png', :alt => "订阅#{Setting.app_name}社区新贴") %></a>
      </p>
</div>