<div id="topic-new-tip" class="panel panel-default">
  <div class="panel-heading"><%= t("topics.tips_for_create_topic")%></div>
  <div class="panel-body">
    <%= render "/shared/editor_help_block" %>
  </div>
</div>
