<% cache(["sidebar_statistics",Time.now.strftime("%Y-%m-%d %H")]) do %>
<div class="totals box">
  <h2 class="title"><%= t("common.statics")%></h2>
  <ul>
    <li>社区会员: <%= User.unscoped.count %> 人</li>
    <li>帖子数: <%= Topic.unscoped.count %> 个</li>
    <li>回帖数: <%= Reply.unscoped.count %> 条</li>
  </ul>
</div>
<% end %>