<% title_tag t('topics.edit_topic') %>

<div class="card">
  <div class="card-header hide-ios"><%= t('topics.edit_topic') %> <span class="pull-right d-none"><%= topic_title_tag(@topic) %></span></div>
  <div class="card-body">
    <%= render 'form' %>
  </div>
</div>
