<div class="panel panel-default">
    <div class="panel-heading">修改话题 <span class="pull-right hidden-xs"><%= topic_title_tag(@topic) %></span></div>
    <div class="panel-body">
        <%= render 'form' %>
    </div>
</div>