<% title_tag t('topics.edit_topic') %>
<div class="card card-lg">
  <div class="card-body">
    <div class="card-title hide-ios">
      <%= t('topics.edit_topic') %>
      <div class="actions">
        <%= link_to t("common.back"), topic_path(@topic) %>
      </div>
    </div>
    <%= render 'form' %>
  </div>
</div>
