<% title_tag t('topics.edit_topic') %>

<div class="panel panel-default">
  <div class="panel-heading hide-ios"><%= t('topics.edit_topic') %> <span class="pull-right hidden-xs"><%= topic_title_tag(@topic) %></span></div>
  <div class="panel-body">
    <%= render 'form' %>
  </div>
</div>
