<%= render 'base' %>
<% content_for :sitemap do %>
  <li class="active">新建贴子</li>
<% end %>

<div class="content">
    <div class="box">
        <%= render 'form' %>
    </div>
</div>

<%= render 'sidebar_for_new_topic' %>
