<% title_tag t('topics.new_topic') %>

<div class="panel panel-default">
  <div class="panel-heading hide-ios"><%= t('topics.new_topic') %></div>
  <div class="panel-body">
    <%= render 'form' %>
  </div>
</div>
