<% title_tag t('topics.new_topic') %>
<div class="card card-lg">
  <div class="card-body">
    <div class="card-title hide-ios">
      <%= t('topics.new_topic') %>
    </div>
    <%= render 'form' %>
  </div>
</div>
