<%= render 'base' %>
<% content_for :sitemap do %>
  <span class="current">新建贴子</span>
<% end %>

<div class="leftbox">
	<div class="box">
		<h1>新建贴子</h1>
		<%= render 'form' %>
	</div>
</div>
<%= render 'sidebar' %>