<%
  reply = notification.reply
  topic = reply.topic
%>
<td class="face">
  <%= user_avatar_tag(reply.user, :normal) %>
</td>
<td>
  <h3>
    <%= user_name_tag(reply.user) %>
    在
    <%= render_topic_title(topic) %>
    提及你：
    <% if !notification.read? %>
      <span class="new label warning">新</span>
    <% end %>
  </h3>
  <%- if reply.present? -%>
    <blockquote>
      <%= format_topic_body(reply.body, :mentioned_user_logins => reply.mentioned_user_logins) %>
    </blockquote>
  <%- end -%>
</td>
