<% 
  topic = notification.topic
  node = notification.node
 %>
<% if topic.blank? or node.blank? %>
  <div class="media-body">相关信息已删除</div>
<% else %>
  <div class="media-left avatar">
  </div>
  <div class="media-body">
    <div class="media-heading">
      <span class="info">你发布的话题 <%= topic_title_tag(topic) %> 由于内容原因</span>
      <span class="date pull-right"><i class="fa fa-clock-o"></i> <%= timeago(notification.created_at) %></span>
    </div>
    <div class="summary">
      被管理员移动到了 <%= render_node_name(node.name, node.id) %> 节点，请注意查看节点说明。
      <% if !notification.read? %>
        <span class="new label label-warning">新</span>
      <% end %>
    </div>
  </div>
<% end %>
