<%
  reply = notification.reply
  topic = reply.topic
%>
<td class="face">
  <%= user_avatar_tag(reply.user, :normal) %>
</td>
<td>
  <h3>
    <span class="user">
      <%= user_name_tag(reply.user) %>
    </span>
    回复了你的主题：
    <%= render_topic_title(topic) %>
    <% if !notification.read? %>
      <span class="new label warning">新</span>
    <% end %>
  </h3>
  <%- if reply.present? -%>
    <div class="body md_body">
      <%= raw reply.body_html %>
    </div>
  <%- end -%>
</td>
