@import "homeland/application.tailwind";
@import "~homeland/index";
@import "~homeland/dark-mode";

body,
p,
ol,
ul,
td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.header {
  .navbar-nav-scroll {
    .navbar-nav {
      width: 100%;
      height: 50px;
    }
  }

  #navbar-new-menu,
  .notification-count {
    display: none;
  }

  .user-bar {
    min-width: auto;
  }
}

.nav-item .nav-link {
  font-size: 14px;
  padding-left: 10px !important;
  padding-right: 10px !important;
  &.active {
    color: var(--red);
  }
}

.navbar-search {
  display: none !important;
}

.card-body h1,
fieldset legend {
  border: 0px;
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 20px;
  padding: 0;
  line-height: 100%;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}
.group {
  margin-bottom: 20px;
}
.group h2 {
  font-size: 12px;
  margin-bottom: 8px;
}
.group ul {
  margin: 0 20px;
}
.pagination {
  clear: both;
  margin-top: 10px;
  text-align: left;
}

.toolbar {
  @apply mb-4 flex gap-4;  
}

.toolbar .form-inline {
  @apply flex space-x-2;
}

table {
  tr.user {
    .username {
      font-size: 14px;
      a {
        color: #555;
      }
    }
  }
  .description {
    color: #999;
  }
  .time {
    color: #aaa;
  }
  .info {
    color: #aaa;

    .badge {
      color: var(--text-color1);
      border-radius: 12px;
      border: 1px solid var(--btn-secondary-border-color);
      font-size: 12px;
      font-weight: normal;
    }
  }
}

table tr.deleted td {
  text-decoration: line-through;
  color: #999 !important;
  a,
  .description {
    color: #999 !important;
  }
}
table tr.ban td {
  text-decoration: line-through;
  color: #ccc !important;
  a,
  .description {
    color: #ccc !important;
  }
}
table tr td a.fa {
  text-decoration: normal;
  color: #666;
  margin-right: 4px;
  &:hover {
    color: #333;
    text-decoration: none;
  }
}

.nav > li > a {
  padding: 14px 6px;
}

.stat {
  margin: 15px;
  padding-bottom: 15px;
  border-bottom: 1px dashed #eee;

  .total {
    font-size: 18px;
    color: #555;
    margin-bottom: 10px;
    margin-top: 8px;
  }
  .name {
    font-size: 14px;
    color: #999;
  }
  .total-week {
    color: $blue;
    font-size: 12px;
    margin: 0 10px;
  }
  .total-month {
    color: $green;
    font-size: 12px;
  }
}

.plugin-item {
  .plugin-title {
    font-size: 16px;
    .fa {
      color: #aaa;
    }

    .version {
      font-size: 14px;
      color: #aaa;
    }
  }
}

.photos {
  display: flex;
  flex-wrap: wrap;
  columns: 4;
  flex-direction: row;
  justify-content: space-between;

  .card {
    border: 1px solid #e0e0e0;
    width: 185px;
    margin-bottom: 15px;
    overflow: hidden;

    .card-img-top {
      img {
        width: 185px;
        height: 180px;
        &:hover {
          opacity: 0.8;
        }
      }
    }

    .card-body {
      padding: 12px;
    }
  }
}
