<%= render 'base' %>
<div class="tools">
  <%= link_to '修改', edit_cpanel_exception_log_path(@exception_log), :class => "btn btn-small btn-success" %>
  <%= link_to '返回', cpanel_exception_logs_path, :class => "btn btn-small" %>
</div>

<div id="cpanel_exception_log">
  <pre><%= @exception_log.body %></pre>
</div>