<% content_for :sitemap do %>
  <a href="<%= cpanel_sections_path %>"><%= t("cpanel.sections") %></a> &gt; <span class="current"><%= t("common.edit") %></span>
<% end %>
<h1>Editing section</h1>

<%= render 'form' %>


