<% content_for :sitemap do %>
  <a href="<%= cpanel_sections_path %>">><%= t("cpanel.sections") %></a> &gt; <span class="current"><%= t("common.create") %></span>
<% end %>
<h1>New section</h1>

<%= render 'form' %>

