<% content_for :sitemap do %>
  <a href="<%= cpanel_sections_path %>">分类</a> &gt; <span class="current">新建</span>
<% end %>
<h1>New section</h1>

<%= render 'form' %>

<%= link_to 'Back', cpanel_sections_path %>
