
#home_index { line-height:160%; }
#home_index h1 { color:#34a900; line-height:200%; text-align:center; }
#home_index h2 { margin-top:10px; font-size:14px; line-height:200%;} 

#login {   }

.sidebar h2 { font-size:14px; margin-bottom:10px; color:#666;}