
#home_index { line-height:160%; }
#home_index h2 { margin-top:10px; font-size:14px; line-height:200%;} 

#login {   }

.sidebar h2 { font-size:14px; margin-bottom:10px; color:#666;}
textarea.middle,input.middle { width:500px; }
textarea.long,input.long { width:673px; }

.sidebar .nodes { line-height:180%; }
.sidebar .nodes a { display:inline-block; margin-right:8px;}

#sections h2 { font-size:12px; color:#999; line-height:200%;}
#sections ul { list-style: none; }
#sections li { line-height:200%; font-size:14px; padding:8px 0; border-top:1px solid #DDD;}
#sections li label { font-size:12px; color:#999; display:inline-block; width:120px; margin-right:8px; text-align: right;}
#sections li a { margin-right:10px;}
