.sidebar ul{margin:0;padding:0;list-style:none;}
#sidebar ul li{display:block;padding:4px 4px;}
#nodes li { color:#333;padding: 2px 0; cursor: pointer;list-style: none;margin:0;padding:0; }
#nodes li.current { 
  color:#fff;
  background-color: #339bb9;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#5bc0de), to(#339bb9));
  background-image: -moz-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -ms-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5bc0de), color-stop(100%, #339bb9));
  background-image: -webkit-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -o-linear-gradient(top, #5bc0de, #339bb9);
  background-image: linear-gradient(top, #5bc0de, #339bb9);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#339bb9', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #339bb9 #339bb9 #22697d;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

#searches, #settings { display:none; }

#chats {}
#chats .items {height:500px; overflow-y:scroll; margin-bottom:10px;}
#chats .items { list-style:none; margin:0; padding:0;}
#chats .items li { border-bottom:1px solid #eee; color:#444; padding:4px; }
#chats .items li .author { color:#999; margin-right:5px;}
#chats .items li .timeago { font-size:9px; color:#999;}
#chats .new textarea { width:600px;}