<% content_for :sitemap do %>
  <a href="<%= admin_topics_path %>"><%= t("admin.menu.topics")%></a> <i class="fa fa-angle-right"></i> <span class="current"><%= t("common.create")%></span>
<% end %>
<h1>New topic</h1>

<%= render 'form' %>
