<% user = notification.actor %>
<% if user.blank? %>
  <%= t("notifications.source_deleted") %>
<% else %>
  <div class="media-heading">
    <%= user_name_tag(user) %> <%= t("notifications.follow_you") %>
  </div>
<% end %>
