<%
  topic = notification.target
  node = notification.second_target
 %>
<% if topic.blank? or node.blank? %>
  <%= t("notifications.source_deleted") %>
<% else %>
  <div class="media-heading">
    <%= t("notifications.node_changed_html", topic: topic_title_tag(topic), node: render_node_name(node)) %>
  </div>
<% end %>
