<%
team = notification.second_target
team_user = notification.target
%>
<% if team.blank? || team_user.blank? %>
  <div class="media-body"><%= t("notifications.source_deleted") %></div>
<% else %>
  <div class="media-heading">
    <%= t("notifications.invite_you_join") %> <%= user_name_tag(team) %>
  </div>
  <div class="media-content summary markdown">
    <%= link_to t("notifications.show_invite"), main_app.user_team_user_path(team, team_user), class: 'btn btn-secondary btn-sm' %>
  </div>
<% end %>
