<% reply = notification.target %>
<% if reply.blank? %>
  <div class="media-body"><%= t("notifications.source_deleted") %></div>
<% else %>
  <%
    topic = notification.second_target || reply.topic
  %>

  <div class="media-heading">
    <%= t("notifications.reply_title_html", topic: topic_title_tag(topic, reply: reply)) %>
  </div>
  <%- if reply.present? -%>
    <div class="media-content summary markdown">
      <%= reply.body_html %>
    </div>
  <%- end -%>
<% end %>
