<% topic = notification.target %>
<% if topic.blank? %>
  <%= t("notifications.source_deleted") %>
<% else %>
  <div class="media-heading">
    <%= t("notifications.topic_title_html", topic: topic_title_tag(topic)) %>
  </div>
<% end %>
