<% content_for :sitemap do %>
  <a href="<%= admin_nodes_path %>"><%= t("admin.menu.nodes")%></a> <i class="fa fa-angle-right"></i> <span class="current"><%= t("common.create")%></span>
<% end %>
<h1>新建节点</h1>

<%= render 'form' %>
