<% content_for :sitemap do %>
  <a href="<%= admin_sections_path %>"><%= t("admin.menu.sections") %></a> <i class="fa fa-angle-right"></i> <span class="current"><%= t("common.edit") %></span>
<% end %>
<h1>Editing section</h1>

<%= render 'form' %>


