<% content_for :sitemap do %>
  <a href="<%= admin_sections_path %>"><%= t("admin.menu.sections") %></a> <i class="fa fa-angle-right"></i> <span class="current"><%= t("common.create") %></span>
<% end %>

<h1>新建分类</h1>

<%= render 'form' %>

