<% if @user.contacts.present? %>
<div class="card userinfo">
  <div class="card-body">
      <div class="user-profile-fields">
        <% @user.contacts.each_key do |field| %>
          <% next if @user.profile_field(field).blank? %>
          <div class="field">
            <label><%= Profile.contact_field_label(field) %></label>
            <span class="value"><%= @user.full_profile_field(field) %></span>
          </div>
        <% end %>
      </div>
  </div>
</div>
<% end %>