  <div class="last_replies box">
    <h5>最近回复过的帖子</h5>
    <ul>
      <% last_replies.each do |reply|
        next if reply.topic.blank? %>
        <li>
          <h6>
            <%= l reply.created_at, :format => :short %>
            在
            <%= render_topic_title(reply.topic) %>
            回复：
          </h6>
          <blockquote class="body">
            <%= format_topic_body reply.body %>
          </blockquote>
        </li>
      <% end %>
    </ul>
  </ul>
</div>