<div class="modal" id="reward-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body clearfix">
        <div class="message">
          <div class="user-info"><%= user_avatar_tag(@user, :md, link: false) %></div>
          <p><i class="fa fa-quote-left pull-left"></i><%= t("users.reward_tip_html") %><i class="fa fa-quote-right pull-right"></i></p>
        </div>
        <div class="reward-images">
          <% if @user.rewards %>
            <% @user.rewards.each_with_index do |(field, val), idx| %>
              <div class="reward-image"><img src="<%= @user.reward_field(field) %>"></div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
