<div class="topics topics-<%= action_name %> card">
  <div class="card-body item-list">
    <%= render TopicComponent.with_collection(@topics) %>
  </div>
  <% if topics.total_pages && topics.total_pages > 1 %>
  <div class="card-footer clearfix">
    <%= paginate topics %>
  </div>
  <% end %>
</div>
