<div class="row">
  <%= render "sidebar", user: @user %>
  <div class="col-md-8">
    <%= render "menu" %>
    <div class="panel bloced-users panel-default">
      <div class="panel-heading">已屏蔽的用户</div>
      <div class="panel-body">
        <%= render "user_list", users: @blocked_users %>
      </div>
      <div class="panel-footer clearfix">
        <%= will_paginate @blocked_users %>
      </div>
    </div>
  </div>
</div>
