<% title_tag [@user.fullname, t('users.menu.topics')].join(' · ') %>

<div class="row">
  <%= render "sidebar", user: @user %>

  <div class="col-md-8">
    <%= render "menu" %>
    <%= render "columns", columns: @columns, user: @user %>
  </div>
</div>
