<% title_tag [@user.fullname, t('users.menu.favorites')].join(' · ') %>

<div class="row">
  <%= render "sidebar", user: @user %>
  <div class="col-lg-8">
    <%= render "menu" %>

    <%= render "topics", topics: @topics %>
  </div>
</div>
