<% title_tag [@user.fullname, t('users.menu.followers')].join(' · ') %>

<div class="flex flex-col md:flex-row gap-4">
  <%= render "sidebar", user: @user %>
  <div class="grow">
    <%= render "menu" %>
    <div class="card">
      <div class="card-body">
        <%= render "user_list", users: @users %>
      </div>
      <div class="card-footer clearfix">
        <%= paginate @users %>
      </div>
    </div>
  </div>
</div>
