<% title_tag t('users.hot_users') %>

<div id="users">
  <div id="hot_users" class="user-list card card-lg">
    <div class="card-body">
      <div class="card-title">
        <div><%= t("users.hot_users") %></div>
        <div class="counter">已注册 <%= @total_user_count %> 人</div>
      </div>

      <%= render "user_list", users: @active_users, columns: 4 %>
    </div>
  </div>
</div>
