<% title_tag [@user.fullname, t('users.menu.replies')].join(' · ') %>

<div class="flex flex-col md:flex-row gap-4">
  <%= render "sidebar", user: @user %>
  <div class="grow">
    <%= render "menu" %>
    <div class="card">
      <%= render "replies", replies: @replies %>
      <div class="card-footer clearfix">
        <%= paginate @replies %>
      </div>
    </div>
  </div>
</div>
