<div class="row">
    <%= render "sidebar", user: @user %>

    <div class="col-md-8">
        <%= render "menu" %>
        <div class="panel panel-default">
            <div class="panel-body">
                <%= render "replies", replies: @replies %>
            </div>
            <div class="panel-footer">
                <%= will_paginate @replies %>
            </div>
        </div>
    </div>

</div>
