<% content_for :sitemap do %><span class="current">设置</span><% end %>
<div class="leftbox">
	<%= render 'profile' %> 
	<%= render 'password' %> 
</div>
<div class="sidebar">
	<div class="box">
		<h2>个人设置</h2>
		<p>
			这里是实名制的社区,注册后不能修改你的大名,若你的大名存在错误,请联系管理员
		</p>
	</div>
</div>