<div class="row">
    <%= render "sidebar", user: @user %>
  
    <div class="col-md-8">
        <%= render "menu" %>
        <div class="panel panel-default">
            <div class="panel-body">
                <%= render "topics", topics: @topics %>
            </div>
            <div class="panel-footer">
                <%= will_paginate @topics %>
            </div>
        </div>
    </div>
    
</div>