<% title_tag [@user.fullname, t('users.menu.topics')].join(' · ') %>

<div class="flex flex-col md:flex-row gap-4">
  <%= render "sidebar", user: @user %>
  <div class="grow">
    <%= render "menu" %>
    <%= render "topics", topics: @topics %>
  </div>
</div>
