<% title_tag [@user.fullname, t('users.menu.topics')].join(' · ') %>

<div class="row">
  <%= render "sidebar", user: @user %>
  <div class="col-md-8">
    <%= render "menu" %>
    <div class="panel panel-default">
      <div class="panel-body">
        <%= render "topics", topics: @topics %>
      </div>
      <div class="panel-footer clearfix">
        <%= paginate @topics %>
      </div>
    </div>
  </div>
</div>
