<% if Setting.captcha_enable? %>
  <% if Setting.use_recaptcha? %>
    <%= recaptcha_tags site_key: Setting.recaptcha_key %>
  <% else %>
    <%= rucaptcha_input_tag(class: 'form-control', placeholder: t('common.captcha')) %>
    <div class="input-group-captcha">
      <span class="input-group-text" style="padding: 3px 4px; background: #fff;">
        <a class="rucaptcha-image-box" href="#"><%= rucaptcha_image_tag %></a>
      </span>
    </div>
  <% end %>
<% end %>
