<div class="comment media">
  <div class="avatar media-left">
    <%= user_avatar_tag(comment.user, :md) %>
  </div>
  <div class="media-body">
    <div class="info media-heading">
      <span class="name"><%= user_name_tag(comment.user) %></span> 发表于 <%= timeago(comment.created_at) %>
    </div>
    <div class="body markdown">
      <%= comment.body_html %>
    </div>
  </div>
</div>
