<div class="comment">
  <div class="avatar">
    <%= user_avatar_tag(comment.user, :normal) %>
  </div>
  <div class="info">
     <span class="name"><%= user_name_tag(comment.user) %></span> 发表于 <%= timeago(comment.created_at) %>
  </div>
  <div class="body">
    <%= raw comment.body_html %>
  </div>
</div>
