<ul>
  <li>支持 Markdown 格式, <strong>**粗体**</strong>、~~删除线~~、<code>`单行代码`</code></li>
  <li>支持表情，见 <a href="http://www.emoji-cheat-sheet.com" target="_blank" rel="nofollow">Emoji cheat sheet</a></li>
  <li>按 “M” 键查看更多 <a href="#markdown_help_tip_modal" data-toggle="modal" data-keyboard="true" data-backdrop="true">帮助</a></li>
  <li>注意单词拼写，以及中英文排版，<a href="https://github.com/sparanoid/chinese-copywriting-guidelines" target="_blank">参考此页</a>
</ul>

<div class="modal fade" id="markdown_help_tip_modal" tabindex="-1" role="dialog" aria-hidden="true">
   <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal">&times;</a>
        <h4>格式说明</h4>
      </div>
      <div class="modal-body">
        <ul>
          <li>支持 Markdown 格式</li>
          <li><strong>**粗体**</strong>、~~删除线~~、<code>`单行代码`</code></li>
          <li>http://example.org 自动加链接</li>
          <li>@name  会链接到用户页面，并会通知他</li>
          <li>![Alt text here](http://foo.com/bar.jpg) 显示图片</li>
          <li>多行代码格式，使用 3 个`包起来，注意要换行，第一个 ``` 后面接语言名称(ruby,bash,html,css,python,erb,java... <a href="http://pygments.org/docs/lexers/" target="_blank">更多</a>)<br />
            比如这样：
              <pre style="border:0;background:#FFF;margin:0;">```ruby
    class Hello
    end
    ```</pre>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

