<% if target.errors.any? %>
  <div class="alert alert-block alert-danger">
    <div class="flex md:justify-between">
      <div class="alert-block-title"><%= t("common.error_message_title", count: target.errors.count) %></div>
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
    <ul>
      <% target.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
