<% if target.errors.any? %>
  <div class="alert alert-block alert-danger">
    <a class="close" data-dismiss='alert' href="#">×</a>
    <div><strong><%= t("common.error_message_title", count: target.errors.count) %></strong></div>
    <ul>
      <% target.errors.full_messages.each do |msg| %>
       <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
