<% cache(["index-locations",Time.now.strftime("%Y-%m-%d")]) do %>
  <% if !Location.hot.blank? %>
    <div class="index-locations card">
      <div class="card-body location-list" style="text-align:center;">
        <% Location.hot.limit(12).each do |item| %>
          <span class="name"><%= location_name_tag(item) %></span>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
