<% cache(["index_locations", CacheVersion.section_node_updated_at]) do %>
<div class="index-sections panel panel-default">
  <div class="panel-heading"><%= t("common.index_node_navigation")%></div>
  <div class="panel-body">
    <div class="row node-list">
      <% Section.includes(:nodes).all.each do |section| %>
      <div class="node media">
        <label class="media-left"><%= section.name %></label>
        <span class="nodes media-body">
          <% section.nodes.sorted.each do |node| %>
            <span class="name"><%= link_to(node.name, node_topics_path(node), title: node.name, data: { id: node.id })%></span>
          <% end %>
        </span>
      </div>
      <% end %>
    </div>
  </div>
</div>
<% end %>
