<div class="toc-container">
  <a href="#toc" title="TOC" id='toc-link'>[TOC +]</a>
  <div class="toc-panel">
    <div>
      <h5 id='toc-panel-title'><%= title %></h5>
      <a id="close-toc-panel" href="#close" class='pull-right'>X</a>
    </div>
    <ul id="toc-list"></ul>
  </div>
</div>