<div class="toc-container">
  <a href="#toc" title="TOC" id='toc-link'>[<%= t(:contents) %> +]</a>
  <div class="toc-panel">
    <div>
      <h5 id='toc-panel-title'><%= title %></h5>
      <a id="close-toc-panel" href="#close" class='pull-right'>
        <i class="fa fa-compress"></i>
      </a>
    </div>
    <div id="toc-list-container">
      <ul id="toc-list"></ul>
    </div>
  </div>
</div>