<div class="toc-container dropdown pull-right">
  <button data-toggle="dropdown" class="btn btn-default">
    <i class="fa fa-list"></i> <%= t(:contents) %> <span class="caret"></span>
  </button>
  <div class="toc-panel dropdown-menu">
    <div class="list-container">
      <ul class="list"></ul>
    </div>
  </div>
</div>
