<% title_tag 'Markdown 教程' %>

<% cache(['markdown-guide', Digest::MD5.hexdigest(Homeland::Markdown.example)]) do %>

<div class="alert alert-danger">
  这是提示文字
  <button class='close' data-dismiss='alert'><span aria-hidden='true'>&times;</span></button>
</div>

<div class="alert alert-success">
  这是提示文字
  <button class='close' data-dismiss='alert'><span aria-hidden='true'>&times;</span></button>
</div>

<div class="alert alert-warning">
  这是提示文字
  <button class='close' data-dismiss='alert'><span aria-hidden='true'>&times;</span></button>
</div>

<div class="alert alert-info">
  这是提示文字
  <button class='close' data-dismiss='alert'><span aria-hidden='true'>&times;</span></button>
</div>

<div class="card markdown">
  <div class="card-body">
    <h1>Markdown 教程</h1>
    <div class="row">
      <div class="col-md-6">
        <pre><code><%= Homeland::Markdown.example %></code></pre>
      </div>
      <div class="col-md-6">
        <%= markdown(Homeland::Markdown.example)%>
      </div>
    </div>
  </div>
</div>
<% end %>
