<% title_tag 'Markdown 教程' %>

<% cache(['markdown-guide', I18n.locale, Digest::MD5.hexdigest(Homeland::Markdown.example(I18n.locale))]) do %>

<div class="bg-white rounded">
  <div class="p-4">
    <h1>Markdown Guides</h1>
    <div class="flex flex-col sm:flex-row gap-4">
      <div class="w-1/2">
        <pre><code><%= Homeland::Markdown.example(I18n.locale) %></code></pre>
      </div>
      <div class="w-1/2 markdown">
        <%= markdown(Homeland::Markdown.example(I18n.locale))%>
      </div>
    </div>
  </div>
</div>
<% end %>
