<div class="col-sm-2 col-md-offset-1 setting-menu">
  <div class="panel panel-default">
    <%= render_list class: "nav nav-pills nav-stacked" do |li|
      li << link_to(icon_tag('user-circle', label: '基本信息'), setting_path)
      li << link_to(icon_tag('address-card', label: '详细资料'), profile_setting_path, class: 'hide-ios')
      li << link_to(icon_tag('qrcode', label: '打赏'), reward_setting_path)
      li << link_to(icon_tag('gear', label: '账户设置'), account_setting_path, class: 'hide-ios')
      li << link_to(icon_tag('keyboard-o', label: '登陆密码'), password_setting_path, class: 'hide-ios') unless Setting.sso_enabled?
      li << link_to(icon_tag('cube', label: t("users.manage_my_apps")), oauth_applications_path, class: 'hide-ios')
    end %>
  </div>
</div>
