<% title_tag [t('pages.comments'), @page.title].join(' · ') %>

<div class="row">
  <div class="hide-ios">
    <%= render 'sidebar' %>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">
      <div id="comments" class="panel-body">
        《<%= link_to @page.title, page_path(@page.slug) %>》 - <%= t('pages.comments') %>
      </div>
    </div>

    <div class="hide-ios">
      <%= render "/shared/comments", commentable: @page %>
    </div>
  </div>
</div>
