<% title_tag t("pages.edit_page") %>

<div class="panel panel-default">
  <div class="panel-heading"><%= t("pages.edit_page") %></div>
  <div class="panel-body">
    <%= render "form" %>
  </div>
</div>
