<%= render "base" %>
<div id="pages">
  <div class="tools">
    <%= link_to(t("pages.wiki_index"), recent_pages_path )%>
    <% if wiki_editor? %>
        <%= link_to(t("pages.create_page"), new_page_path)%>
    <% end %>
  </div>
  <%= raw SiteConfig.wiki_index_html %>
</div>