<div id="pages">
  <div class="tools panel panel-default">
    <div class="panel-body">
        <%= link_to(t("pages.wiki_index"), recent_pages_path )%>
        <% if can? :create, Page %>
          <%= link_to(t("pages.create_page"), new_page_path, class: "btn btn-success")%>
        <% end %>
    </div>
  </div>

  <%= raw Setting.wiki_index_html %>
</div>
