<% title_tag t("menu.wiki") %>

<div class="row">
  <%= render 'sidebar' %>
  <% if !turbolinks_app? %>
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-body">
          <%= raw Setting.wiki_index_html %>
        </div>
      </div>
    </div>
  <% end %>
</div>
