<div id="pages">
  <div class="tools">
    <a href="<%= recent_pages_path %>">Wiki目录</a>
    <% if wiki_editor? %>
    <a href="<%= new_page_path %>" class="btn primary">创建新页面</a>
    <% end %>
  </div>
  <%= raw SiteConfig.wiki_index_html %>
</div>