<% title_tag t("menu.wiki") %>

<div class="row">
  <%= render 'sidebar' %>
  <div class="col-sm-9">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= raw Setting.wiki_index_html %>
      </div>
    </div>
  </div>
</div>
