<% title_tag t('pages.wiki_index') %>

<div class="row">
  <div class="hide-ios">
    <%= render 'sidebar' %>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading hide-ios"><%= t('pages.wiki_index') %></div>
      <div class="panel-body">
        <ul>
          <% @pages.each do |item| %>
            <li><%= page_title_tag(item) %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
