<li class="page-item prev">
  <%= link_to_unless current_page.first?, raw(['<i class="fa fa-angle-left"></i>', t('pagination.prev')].join(' ')), url, rel: 'prev', remote: remote, class: "page-link" %>
</li>
