<% content_for :sitemap do %><span class="current">404</span><% end %>
<div id="error_page" class="box">
    <h1>403 没有权限</h1>
    <p>
        抱歉，你没有做此操作的权限，如有问题，请到社区发帖询问。
    </p>
    <p>
      <a href="/" class="btn">返回首页</a>
    </p>
</div>