<% content_for :sitemap do %><span class="current">404</span><% end %>
<div id="error-page" class="card">
  <div class="card-body">
    <h1>>403 Access denied</h1>
    <p>
      Sorry, you do not have the authority to do this operation. 
    </p>
    <p>
    If you have any questions, please post to the community to ask.
    </p>
    <p>
      <a href="/" class="btn"><%= t("common.back") %></a>
    </p>
  </div>
</div>
