<% content_for :sitemap do %><span class="current">404</span><% end %>
<div id="error_page" class="box">
	<h1>404 错误,该页不存在</h1>
	<p>
		我们很抱歉的告诉你,你现在访问的页面我们无法找到,或许是因为这个页面已经被删除了.
	</p>
	<p>
		给你再来的不便我们深表歉意.
	</p>
</div>