table.ttf {
  width: 100%;
}

.statistics-number {
  min-width: 50px;
  font-size: 24px;
  text-align: right;
}

.text-middle {
  vertical-align: middle;
}


.statistics-count {
  width: 110px;
  text-align: right;
}

.statistics-description {
  height: 60px;
}

.statistics-contributor {
  height: 60px;
}

.statistics-operation {
  height: 40px;
  text-align: center;
}
