<%= t("topics.in") %>
<span class='topic'>
<% if reply.target_type == "Topic" %>
  <%= topic_title_tag(reply&.target) %>
<% else %>
  <%= topic_title_tag(reply&.target&.topic) %>
<% end %>
</span> 
<%= t("topics.mentioned_this_topic") %>
