<% title_tag t("teams.edit_team_user") %>
<%= render '/teams/header' %>
<div class="card team-users">
  <div class="card-body">
    <div class="col-md-7 mx-auto">
      <h3 class="mb-3"><%= t("teams.edit_team_user") %></h3>
      <%= render '/team_users/form' %>
    </div>
  </div>
</div>
