<% title_tag t("teams.edit_team_user") %>

<%= render '/teams/header' %>

<div class="panel team-users">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6 col-sm-offset-3">
        <h3><%= t("teams.edit_team_user") %></h3>
        <%= render '/team_users/form' %>
      </div>
    </div>
  </div>
</div>
