<% title_tag t('teams.users') %>

<%= render '/teams/header' %>

<div class="panel team-users">
  <div class="panel-body">
    <% if can? :update, @team %>
    <div class="heading clearfix">
      <%= link_to t('teams.new_team_user'), new_user_team_user_path(@team), class: 'btn btn-success' %>
    </div>
    <% end %>
    <table class="table table-striped">
      <%= render partial: '/team_users/team_user', collection: @team_users %>
    </table>
  </div>
  <div class="panel-footer">
    <%= paginate @team_users %>
  </div>
</div>
