<% title_tag t("teams.new_team_user") %>
<%= render '/teams/header' %>
<div class="card team-users">
  <div class="card-body col-md-6 mx-auto">
    <h3 class="mb-3"><%= t("teams.new_team_user") %></h3>
    <%= render '/team_users/form' %>
  </div>
</div>
