<div class="form">
<%= form_for @photo, :url => photos_path(:tiny => 1), :html => { :enctype =>  "multipart/form-data" } do |f| -%>
  <div class="clearfix">
    <input type="file" name="image1"><br />
    <input type="file" name="image2"><br />
    <input type="file" name="image3">
  </div>
  <div class="buttons">
    <button type="submit" class="btn primary"><%= t("photos.upload_and_insert_code")%></div>
  </div>
 </form>
<% end -%>
</div>

