<div class="form">
<%= form_for @photo, :url => photos_path(:tiny => 1), :html => { :enctype =>  "multipart/form-data" } do |f| -%>
  <div class="clearfix">
    <input type="file" name="image1"><br />
    <input type="file" name="image2"><br />
    <input type="file" name="image3">
  </div>
  <div class="buttons">
    <%= f.submit t("photos.upload_and_insert_code"), :class => "btn primary", :disable_with => t("common.uploading") %>
  </div>
 </form>
<% end -%>
</div>

