<% content_for :sitemap do %>
  <a href="<%= cpanel_topics_path %>">帖子</a> &gt; <span class="current">新建</span>
<% end %>
<h1>New topic</h1>

<%= render 'form' %>

<%= link_to 'Back', cpanel_topics_path %>
