/*
 *= require font-awesome
 *= require highlight
 *= require social-share-button
 *= require jquery.atwho
 *= require jquery.fluidbox
 *= require_self
 */

@import "vars";
@import "bootstrap";

@mixin clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
  & {
    zoom: 1;
  }
}

/* 去掉 Bootstrap 的蓝色 outline */
* { outline-style: none; }
textarea, input[text] {
  outline: none !important;
  box-shadow: none !important;
  -webkit-appearance: none !important;
}

textarea,
#preview {
  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-track {
  }

  &::-webkit-scrollbar-thumb {
    background: #f0f0f0;
    border: 3px solid #fff;
    border-radius: 9px;
  }
}

.alert {
  box-shadow: 0 0 0; padding: 0.65rem 1.25rem; border: 2px solid transparent !important;
  .close { color: $primary; opacity: .7; }
}
.alert-block {
  ul { margin-bottom: 0; margin-top: 1.25em; }
}
.alert-danger { color: $red; background: lighten($red, 55%); }
.alert-warning { color: darken($yellow, 10%); background: lighten($yellow, 45%); }
.alert-success { color: $green; background: lighten($green, 65%); }
.alert-info { color: $blue; background: lighten($blue, 50%); }

.rucaptcha-image { width: 120px; }

/* Bootstrap Theme */
body {
  background: #e5e5e5;
  color: $primary;
  font-family: Helvetica, Arial, "PingFang SC", "Noto Sans", Roboto, "Microsoft Yahei", sans-serif;
  font-size: 15px;
  letter-spacing: .03em;
  padding-top: 80px;
}

.header {
  .navbar-light {
    background: #fff !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    border: 0px;
    color: $primary;
    z-index: 1030;

    &.navbar-fixed-active {
      box-shadow: 0 1px 1px rgba(0, 0, 0,.21);
      .navbar-collapse.in {
        border-bottom-color: #FFF;
        box-shadow: 0 1px 1px rgba(0, 0, 0,.21);
      }
    }
    .navbar-toggler {
      border: 0;
      padding: 0 .25em;
    }
  }

  .navbar-nav .nav-item a.nav-link { color: $primary; }

  #main-nav-menu {
    &.navbar-nav .nav-item a.nav-link  {
      padding-left: 12px;
      padding-right: 12px;
      color: $primary;
      border-top: 3px solid #fff;
      border-bottom: 3px solid #FFF;
      transition: all .2s ease-in-out;
    }
    &.navbar-nav .nav-item a.nav-link:active { background-color: $gray; border-bottom-color: #999; }
    &.navbar-nav .nav-item {
      a.active,
      a.active:focus,
      a.active:hover { color: $primary; background: transparent; border-bottom-color: $primary; }
    }
  }

  .navbar-nav .nav-item.dropdown a { text-decoration: none; }

  .dropdown-avatar {
    img { width: 24px; height: 24px; }
  }

  .dropdown-menu {
    border-radius: 0;
    font-size: 14px;
  }

  .navbar-brand {
    line-height: 100%;
    color: #666 !important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    margin-left: 0 !important;
    border-bottom: 0px;
    b { color: $blue; }
  }

  .form-inline {
    margin-right: 10px;
    .form-control {
      font-size: 14px;
      border-color: $primary;
    }
  }
}

.sub-navbar {
  padding: 8px 0;
  background: #f3f3f3;
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.02);
  margin-top: -20px;
  margin-bottom: 20px;

  @media (max-width: 480px) {
    margin-top: 0;
    padding: 5px 0;

    .container {
      padding: 0 5px;
    }
  }
}

.btn-default {
  border-color: $primary; background: #FFF;

  &.active {
    color: darken($primary, 20%);
    background: lighten($primary, 45%);
  }
}

.sidebar.col-md-3 { padding-left: 0; }

.nav-tabs {
  li:first-child { margin-left: 15px; }

  .nav-item {
    .nav-link {
      &:hover {
        background: #f2f2f2;
        border-color: #f2f2f2;
      }
    }
  }
}

.close {
  font-size: 1.2rem;
  font-weight: normal;
}

.pagination {
  margin: 0;
  &>li:first-child>a,
  &>li:first-child>span { border-top-left-radius: 3px; border-bottom-left-radius: 3px; }

  &>li:last-child>a,
  &>li:last-child>span { border-top-right-radius: 3px; border-bottom-right-radius: 3px; }
  li>a { color: $primary; }

  li>a,
  .disabled>a,
  li>span { border-color: #E0E0E0 !important; }

  li>a:hover { color: #555; background: $gray; }

  li.active>a,
  li.active>a:hover { background-color: $primary !important; border-color: $primary !important; color: #FFF !important; }
}
.pager {
  margin: 0px;
  .info {
    line-height: 32px;
    color: #ccc;
    samp { color: #999; }
  }
  li>a,
  li>span {
    color: #666;
    border-radius: 3px;
    border: 0px;
    background: transparent;
    &:hover { background: #fff; }
  }
  li.disabled>a,
  li.disabled>span {
    color: #ddd;
    background: transparent;
    &:hover { color: #ddd; background: transparent; }
  }
}
abbr {  text-decoration: none; border-bottom: 0px; cursor: pointer; }
abbr[title] { border: 0 !important; text-decoration: none; cursor: text; }
a abbr[title] { cursor: pointer; }

kbd {
  background-color: #f5f5f5; color: #999; border-radius: 2px; border-color: #fafafa;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.05);
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
  padding: 4px 5px;
}


.card {
  margin-bottom: 15px;
  border-top: 0;

  .card-header {
    background: #fafafa;
    padding: 10px 15px;
    border-bottom-color: #eee;
    color: #777;
  }
  .card-footer {
    padding: 10px 15px;
    border-top-color: #eee;
    background: #fafafa;
  }
}

.nav-stacked.nav-pills>li>a {
  border-radius: 0px;

  i.fa {
    width: 20px;
  }
}

/* Modal */
.modal {
  .modal-content {
    border: 0px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15), 0px 0px 1px 1px rgba(0, 0, 0, 0.05);

    p { margin-bottom: 5px; }
  }
  .modal-header {
    padding: 10px 15px;
    .modal-title {
      line-height: 100%;
      font-size: 16px;
    }
    .close {
      font-size: 1.2rem;
      font-weight: normal;
    }
  }
  .modal-footer {
    border-color: #e5e5e5;
  }

  @media (min-width: 768px) {
    .modal-dialog {
      width: 768px;
    }
  }
}

.modal-backdrop.in {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.1);
}

.list-group {
  .list-group-item {
    border-color: #eee;
  }
}

.fa-spin {
  -webkit-animation: fa-spin 0.8s infinite linear;
  animation: fa-spin 0.8s infinite linear;
}

/* App Style */
.opts {
  color: #666;
  a { }
  a:link,
  a:visited {
    color: $primary;
    padding: 3px;
    text-decoration: none;
  }
  a:hover { background: #f0f0f0; text-decoration: none; }
  .loading {
  }
}

.turbolinks-progress-bar {
  background-color: $blue !important;
  height: 2px !important;
}

.pull-right.opts {
  a { margin-left: 5px; margin-right: 0px; }
}
.avatar {
  .uface,
  .media-object { border-radius: 120px; }
}
.avatar-16 { width: 16px; height: 16px; border-radius: 120px; }
.avatar-32 { width: 32px; height: 32px; border-radius: 120px; }
.avatar-48 { width: 48px; height: 48px; border-radius: 120px; }
.avatar-96 { width: 96px; height: 96px; border-radius: 120px; }
@media (max-width: 480px) {
  .avatar-48 { width: 32px; height: 32px; }
}

.uname { color:#666; }
img.emoji { width:20px; height:20px; }
.node-name {
  background: #f0f0f0; padding: 1px 3px; color: #777; margin-right: 5px;
  &:hover { color:#555; text-decoration:none; background:#e0e0e0; }
}
.fa.awesome {
  font-size: 13px;
  color: $red;
}
.notification-count {
  .count { margin-left: 4px; display: none; font-size: 12px;}
  .new {
    color: $red !important;
    .count { display: inline; line-height: 100%; }
  }
}
.deleted { text-decoration: line-through; color: #e0e0e0; }
.no-result { color: #aaa; padding-bottom: 20px; text-align: center;}

.opts a.active {
  .fa {
    @extend .animated;
    @extend .bounceIn;
    color: $red;
  }
}

.setting-menu { padding-right: 0;}

.editor-toolbar {
  padding: 5px 0px;

  .opts {
    a.nav-link {
      font-size: 14px;
      line-height: 14px;
      display: inline-block;
      padding: 8px;
      border-radius: 3px;
      color: $input-color;
      border: 1px solid $input-border-color;
      margin: 0;

      &.active {
        background: #f0f0f0;
      }
    }
  }

  .reply-to {
    margin-top: 10px;
    font-size: 14px;
    line-height: 14px;
    .fa { margin-right: 8px; }
    .close { font-size: 14px; margin-left: 5px; }
  }
}

@media (max-width: 480px) {
  .container { padding: 0; }
  .card { border-radius: 0; }
  .row {
    margin: 0;
    .col-md-9,
    .col-md-8,
    .col-md-6,
    .col-md-5,
    .col-md-4,
    .col-md-3 { padding: 0; }
  }
  .hidden-mobile { display: none !important; }
  .pagination {
    display: block;
    li { display: none; }
    li.prev,
    li.next {
      float: left; display: block;
      a {
        border-radius: 20px !important;
      }
    }
    li.next { float: right; }
  }
}
