/*
 *= require font-awesome
 *= require highlight
 *= require social-share-button
 *= require jquery.atwho
 *= require jquery.fluidbox
 *= require_self
 */

@import "vars";
@import "bootstrap";

@mixin clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
  & {
    zoom: 1;
  }
}

.flex {
  display: flex;
}

.aic {
  align-items: center !important;
}

.aib {
  align-items: baseline !important;
}

.jcc {
  justify-content: center !important;
}

.jcsb {
  justify-content: space-between !important;
}

.jcsa {
  justify-content: space-around !important;
}

/* 去掉 Bootstrap 的蓝色 outline */
* {
  outline-style: none;
}

input[type=file]::-webkit-file-upload-button {
  color: $primary;
  -webkit-appearance: none !important;
  border: 0;
  outline: none;
  font-weight: bold;
  padding: 0;
  padding-right: 10px;
}

textarea,
#preview {
  overflow: scroll;

  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-track {
  }

  &::-webkit-scrollbar-thumb {
    background: #f0f0f0;
    border: 3px solid #fff;
    border-radius: 9px;
  }
}

.alert {
  box-shadow: 0 0 0;
  padding: 0.65rem 1.25rem;
  border: 2px solid transparent !important;
  .close {
    color: $primary;
    opacity: 0.7;
  }
}
.alert-block {
  ul {
    margin-bottom: 0;
    margin-top: 1.25em;
  }
}
.alert-danger {
  color: $red;
  background: lighten($red, 43%);
}
.alert-warning {
  color: darken($yellow, 10%);
  background: lighten($yellow, 45%);
}
.alert-success {
  color: $green;
  background: lighten($green, 65%);
}
.alert-info {
  color: $blue;
  background: lighten($blue, 45%);
}

.rucaptcha-image {
  width: 100px;
  border-radius: 3px;
}

/* Bootstrap Theme */
body {
  background: #e5e5e5;
  color: $primary;
  font-family: Helvetica, Arial, "PingFang SC", "Noto Sans", Roboto, "Microsoft Yahei", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.bd-navbar {
  height: 50px;
  padding: 0;
  background: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  border: 0px;
  color: $primary;
  z-index: 1030;
  line-height: 100%;

  .ml-auto {
    height: 50px;
  }

  .navbar-nav {
    padding: 0px;
    .nav-link {
      padding: 15px 15px;
      color: $primary;
    }
  }

  .navbar-topic-title {
    display: none;
  }

  &.navbar-fixed-active {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.07);
  }

  .navbar-brand {
    line-height: 100%;
    color: #666 !important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    margin-left: 1em;
    border-bottom: 0px;
    b {
      color: $blue;
    }
  }

  @include media-breakpoint-down(md) {
    padding-right: 0.5rem;
    padding-left: 0.5rem;

    .navbar-nav-scroll {
      max-width: 100%;
      overflow: hidden;

      .navbar-nav {
        overflow-x: auto;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }
    }
  }

  @include media-breakpoint-up(md) {
    @supports (position: sticky) {
      position: sticky;
      top: 0;
    }
  }

  #main-nav-menu {
    &.navbar-nav .nav-item a.nav-link {
      color: $primary;
      font-size: 15px;
      border-top: 3px solid #fff;
      border-bottom: 3px solid #fff;
      transition: all 0.2s ease-in-out;
    }
    &.navbar-nav .nav-item a.nav-link:active {
      background-color: $gray;
      border-bottom-color: #999;
    }
    &.navbar-nav .nav-item {
      a:hover,
      a.active,
      a.active:focus,
      a.active:hover {
        color: $red;
        background: transparent;
        border-bottom-color: $red;
      }
    }
  }

  .form-search {
    font-size: 14px;
    position: relative;
    padding: 15px 0;

    .fa {
      color: #333;
      &:hover {
        color: #666;
      }
    }
    .fa-search {
      cursor: pointer;
      position: absolute;
      top: 18px;
      left: 8px;
      transition: all 0.3s;
    }
    .form-control {
      font-size: 14px;
      border: none;
      cursor: text;
      width: 150px;
      height: 100%;
      line-height: 100%;
      padding: 6px 1px 4px 20px;
      margin-left: 4px;
      background: transparent;
      transition: all 0.3s;
      box-sizing: border-box;
      color: #333;
      &::-webkit-input-placeholder {
        color: #aaa;
      }
    }
  }

  .navbar-nav-svg {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    vertical-align: text-top;
  }

  .dropdown.show {
    background: rgba(0, 0, 0, 0.04);
  }

  .dropdown-menu {
    border-radius: 0;
    border: 0px;
    border-left: 1px solid rgba(0, 0, 0, 0.04);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    .dropdown-item {
      padding: 0.4rem 1.5rem;
    }
  }

  .dropdown-avatar {
    line-height: 100%;
    display: inline-block;
    .nav-link {
      padding: 10px 5px;
    }
    img.avatar-32 {
      width: 20px;
      height: 20px;
    }
  }

  .dropdown-item.active {
    font-weight: 500;
    color: $gray-900;
    background-color: rgba(0, 0, 0, 0.04);
  }

  .user-bar {
    background: #fff;
    min-width: 150px;
    padding-right: 15px;
  }

  @include media-breakpoint-down(md) {
    .user-bar {
      .nav-link {
        padding-left: 5px;
        padding-right: 5px;
      }
    }
  }
}

#main {
  margin-top: 20px;
}

.sub-navbar {
  background: #f9f9f9;
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.02);

  a {
    color: $blue;
  }
}

.btn-default {
  border-color: $input-border-color;
  background: #fcfcfc;
  color: $primary !important;

  &:hover {
    border-color: #ccc;
  }
  &:active,
  &.active {
    color: #aaa;
    border-color: $default;
    background: #f0f0f0;
  }
}

.page-topics {
  .navbar-fixed-active {
    .navbar-topic-title {
      display: block;
    }
    .navbar-topic-title:after {
      display: block;
    }
  }
}

.list-group-item {
  a {
    color: $primary;
  }
}

.sidebar.col-md-3 {
  padding-left: 0;
}

.nav-tabs {
  li:first-child {
    margin-left: 15px;
  }

  .nav-item {
    .nav-link {
      &:hover {
        background: #f2f2f2;
        border-color: #f2f2f2;
      }
    }
  }
}

.close {
  font-size: 1.2rem;
  font-weight: normal;
}

.pagination {
  margin: 0;
  & > li:first-child > a,
  & > li:first-child > span {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  & > li:last-child > a,
  & > li:last-child > span {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  li > a {
    color: $primary;
  }

  li > a,
  .disabled > a,
  li > span {
    border-color: #e0e0e0 !important;
  }

  li > a:hover {
    color: #555;
    background: $gray;
  }

  li.active > a,
  li.active > a:hover {
    background-color: $blue !important;
    border-color: $blue !important;
    color: #fff !important;
  }
}
.pager {
  margin: 0px;
  .info {
    line-height: 32px;
    color: #ccc;
    samp {
      color: #999;
    }
  }
  li > a,
  li > span {
    color: #666;
    border-radius: 3px;
    border: 0px;
    background: transparent;
    &:hover {
      background: #fff;
    }
  }
  li.disabled > a,
  li.disabled > span {
    color: #ddd;
    background: transparent;
    &:hover {
      color: #ddd;
      background: transparent;
    }
  }
}
abbr {
  text-decoration: none;
  border-bottom: 0px;
  cursor: pointer;
}
abbr[title] {
  border: 0 !important;
  text-decoration: none;
  cursor: text;
}
a abbr[title] {
  cursor: pointer;
}

kbd {
  background-color: #f5f5f5;
  color: #999;
  border-radius: 2px;
  border-color: #fafafa;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.05);
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  padding: 4px 5px;
}

.card {
  margin-bottom: 15px;
  border-top: 0;
  box-shadow: 0 0 0;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;

  .card-header {
    padding: 6px 15px;
  }

  .card-title {
    margin-bottom: 25px;
    font-size: 18px;
    line-height: 100%;
    display: flex;
    align-items: center;

    .card-subtitle {
      margin-top: 10px;
      font-size: 14px;
    }

    .counter {
      margin-left: 5px;
      color: #777;
      font-size: 14px;
    }

    .actions {
      font-size: 14px;
      margin-left: 15px;
    }
  }

  .card-body {
    padding: 15px;
  }

  .list-group-item {
    padding: 10px 15px;
  }

  .card-header {
    background: #fafafa;
    border-bottom-color: #eee;
    color: #777;
  }

  .card-footer {
    border-top-color: #eee;
    background: #fafafa;
  }
}

@media (min-width: 768px) {
  .card.card-lg {
    .card-body {
      padding: 30px;
    }
  }
}

.nav-link {
  color: $primary;
  &:hover {
    color: $primary;
  }
}

.nav-stacked.nav-pills > li > a {
  border-radius: 0px;

  i.fa {
    width: 20px;
  }
}

/* Modal */
.modal {
  top: 50px;
  .modal-content {
    border: 0px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15), 0px 0px 1px 1px rgba(0, 0, 0, 0.05);

    p {
      margin-bottom: 5px;
    }
  }
  .modal-header {
    padding: 8px 15px;
    border-bottom: 0px;
    .modal-title {
      font-size: 16px;
      font-weight: bold;
    }
    .close {
      font-size: 1.2rem;
      font-weight: normal;
    }
  }
  .modal-footer {
    border-color: #e5e5e5;
  }

  @media (min-width: 768px) {
    .modal-dialog {
      width: 768px;
    }
  }
}

.modal-backdrop.in {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.1);
}

.list-group {
  .list-group-item {
    border-color: #eee;
  }
}

.fa-spin {
  -webkit-animation: fa-spin 0.8s infinite linear;
  animation: fa-spin 0.8s infinite linear;
}

/* App Style */
.opts {
  color: #666;
  a {
    display: inline-block;
    border-radius: 3px;
  }
  a:link,
  a:visited {
    color: $primary;
    line-height: 100%;
    padding: 4px;
    text-decoration: none;
  }
  a:hover {
    background: #eee;
    text-decoration: none;
  }
  .loading {
  }
}

.turbolinks-progress-bar {
  background-color: $blue !important;
  height: 2px !important;
}

.pull-right.opts {
  a {
    margin-left: 5px;
    margin-right: 0px;
  }
}
.avatar {
  .uface,
  .media-object {
    border-radius: 120px;
  }
}
.avatar-16 {
  width: 16px;
  height: 16px;
  border-radius: 120px;
}
.avatar-32 {
  width: 28px;
  height: 28px;
  border-radius: 120px;
}
.avatar-48 {
  width: 40px;
  height: 40px;
  border-radius: 120px;
}
.avatar-96 {
  width: 96px;
  height: 96px;
  border-radius: 120px;
}
@media (max-width: 480px) {
  .avatar-48 {
    width: 28px;
    height: 28px;
  }
}

.uname {
  color: #666;
}
img.emoji {
  width: 20px;
  height: 20px;
}
.node-name {
  background: #f0f0f0;
  padding: 1px 3px;
  color: #777;
  margin-right: 5px;
  &:hover {
    color: #555;
    text-decoration: none;
    background: #e0e0e0;
  }
}
.fa.awesome {
  font-size: 13px;
  color: $red;
}
.notification-count {
  .count {
    margin-left: 4px;
    display: none;
    font-size: 12px;
  }
  .new {
    color: $red !important;
    .count {
      display: inline;
      line-height: 100%;
    }
  }
}
.deleted {
  text-decoration: line-through;
  color: #e0e0e0;
}
.no-result {
  color: #aaa;
  padding-bottom: 20px;
  text-align: center;
}

/* User role */
.badge-role {
  @extend .badge;
  font-size: 12px;
  font-weight: normal;
  font-family: sans-serif;
  background: #564cf5;
  color: #fff;
}

.opts a.active {
  .fa {
    @extend .animated;
    @extend .bounceIn;
    color: $red;
  }
}

.setting-menu {
  padding-right: 0;
  padding-left: 0px;
}

@media (min-width: 768px) {
  .setting-menu {
    padding-left: 15px;
  }
}

.editor-toolbar {
  margin-bottom: 5px;

  .toolbar-buttons {
    a.nav-link {
      border: 1px solid $input-border-color;

      @extend .btn-default;

      font-size: 14px;
      line-height: 14px;
      display: inline-block;
      border-radius: 3px;
      padding: 8px;
      margin: 0;
    }
  }

  .reply-to {
    margin-top: 10px;
    font-size: 14px;
    line-height: 14px;
    .fa {
      margin-right: 8px;
    }
    .close {
      font-size: 14px;
      margin-left: 5px;
    }
  }
}

@media (max-width: 480px) {
  body {
    font-size: 14px;
    line-height: 100%;
  }
  .container {
    padding: 0;
  }
  .card {
    border-radius: 0;
    border-left: 0px;
    border-right: 0px;
  }

  #main {
    margin-top: 1px;
  }

  .opts {
    a {
      padding: 5px !important;
      margin: 0 !important;
    }
  }
  .row {
    margin: 0;
    .col-md-9,
    .col-md-8,
    .col-md-6,
    .col-md-5,
    .col-md-4,
    .col-md-3 {
      padding: 0;
    }
  }
  .sidebar {
    display: none;
  }
  .hidden-mobile {
    display: none !important;
  }

  .topics {
    .topic {
      padding: 8px !important;
      margin: 0 -8px !important;

      .avatar {
        margin-top: 8px;
      }
      .count {
        font-size: 12px;
        width: 38px !important;
      }
    }
  }

  .pagination {
    display: block;
    li {
      display: none;
    }
    li.prev,
    li.next {
      float: left;
      display: block;
      a {
        border-radius: 20px !important;
      }
    }
    li.next {
      float: right;
    }
  }
}
