/*
 *= require bootstrap
 *= require jquery.jdialog
 *= require wikistyle
 *= require jquery.chosen
 *= require highlight
 *= require_tree ./sprites/
 *= require_self
 */
html {
  width: 100%;
  height: 100%;
  display: table;
  background:#eee image-url('bg.png') bottom left repeat;
}
body { background:none;}

code { background:none; }

.breadcrumb { color:#999;}

.container-fluid { padding:0;}
.container-fluid > .sidebar {
  position:relative;
  left:0;
  float:right;
  width: 220px;
}

.container-fluid > .content {
  margin-left:0;
  margin-right: 240px;
}

fieldset { margin-bottom:0;}
fieldset legend { font-size:16px; font-weight:bold;}
.actions { margin-bottom:0;}
.buttons { margin-top:10px; }
form {
  margin-bottom:0;

  .input {margin-left: 146px;}
}

a.label:hover { text-decoration: none; color:#FFF;}

.popover { 
  h3.title { 
    font-size:14px; padding:5px 8px;
    i { float:right; font-size:12px; color:#999; font-style: normal;}
  }
  .content { padding:8px; font-size:12px; color:#666; }
}

a[rel=userpopover] {
  display: inline-block;
}

.box { 
  background-color: #fff;
  padding:10px;  
  margin: 0 0 20px 0; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.footer {
  border-top:0;
  min-width: 940px;
  margin-bottom:30px;
  margin-top:0px;
  padding:0;
  text-shadow: 0 1px 0 #fff;
}
.footer p {
  margin:3px 0;
  color: #555;
}
#main h1 { font-size:14px; line-height:26px; font-weight:bold; text-align:right; color:#333; margin-bottom:10px; }

.topbar { position: static; margin-bottom:20px;}

textarea.long { width:670px;}
textarea.span16 { width:910px;}
.input-xxlarge, input.xxlarge, textarea.xxlarge, select.xxlarge { width:520px;}

div.field, div.actions {
  margin-bottom: 10px;
}
div.field .hint { font-size:12px; color:#999;}

.field_with_errors {
  display:inline;
  color:#b16125;
}

.alert-message { margin-bottom:8px;}

.secondary-nav .notifications a {
  font-weight: bold;
  padding: 11px 8px 10px;
}

.secondary-nav .notifications a:hover {
  background: #444;
  background: rgba(255, 255, 255, 0.05);
}

.secondary-nav .notifications a .count {
  background-color: #666;
  padding: 2px 6px;
  border-radius: 2px;
  color: #999;
  -moz-border-radius: 2px;
}

.secondary-nav .notifications.unread a .count {
  background-color: #C43C35;
  color: white;
}

.icon { display:inline-block;}


.simple_form {
  label.required {
    abbr { color:#c00;}
  }
}
