/*
 *= require bootstrap
 *= require jquery.jdialog
 *= require wikistyle
 *= require jquery.chosen
 *= require highlight
 *= require social-share-button
 *= require jquery.atwho
 *= require_tree ./sprites/
 *= require_self
 */
html {
  width: 100%;
  height: 100%;
  background:#eee image-url('bg.png') bottom left repeat;
}
body { background:none;}

code { background:none; }


.navbar-fixed-top {
  position:static;right:0;left:0;margin-bottom:20px;
  .badge-inverse { background:#666;}

  .search-query {
    padding-left: 14px;
    padding-right: 14px;
    margin-bottom: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  .brand { width:60px; }
  h3 {
    margin:0; padding:0; margin-top:2px; margin-right:10px;
    width:123px; float:left;
    a {
      padding:0; margin:0; margin-top:5px;
      width:130px;
      &:hover { background:none;}
    }
  }
}

.breadcrumb { color:#999;}


.container { width:960px; }
.container-fluid { padding:0; }
.container-fluid > .sidebar {
  position:absolute;
  left:auto;
  right:0;
  top:0;
  width: 240px;
}

.container-fluid > .content {
  margin-left:0;
  margin-right: 260px;
}

fieldset { margin-bottom:0;}
fieldset legend { font-size:16px; font-weight:bold;}
.actions { margin-bottom:0;}
.buttons { margin-top:10px; }
form {
  margin-bottom:0;

  .input {
    > [class*="span"] {
      float: left;
      display: inline;
      margin-right: 10px;

      input, textarea, select, .uneditable-input {
        width: 100%;
      }
      input[type=checkbox],
      input[type=radio],
      input[type=button],
      input[type=reset],
      input[type=submit] {
        width: auto;
      }
    }
  }
}

.pagination { margin:0; margin-top:10px; }

a.label:hover { text-decoration: none; color:#FFF;}

.popover { 
  h3 { 
    font-size:14px; padding:5px 8px;
    i { float:right; font-size:12px; color:#999; font-style: normal;}
  }
  .popover-content { padding:8px; font-size:12px; color:#666; }
}

abbr[title] { border:0; cursor:default; }

a[rel=userpopover] {
  display: inline-block;
}

.box { 
  background-color: #fff;
  padding:10px;  
  margin: 0 0 20px 0; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
  h2.title {
    font-size: 12px;
    margin:0 -10px; padding:0 10px; margin-bottom:8px;
    color:#999; line-height:100%;
    border-bottom:1px solid #ddd; padding-bottom:8px;
  }
}


.footer {
  border-top:0;
  min-width: 940px;
  margin-bottom:30px;
  margin-top:0px;
  padding:0;
  text-shadow: 0 1px 0 #fff;
}
.footer p {
  margin:3px 0;
  color: #555;
}
#main { position:relative;}
#main h1 { font-size:14px; line-height:26px; font-weight:bold; text-align:right; color:#333; margin-bottom:10px; }

.topbar { position: static; margin-bottom:20px;}

textarea.long { width:670px;}
textarea.span16 { width:910px;}
.input-xxlarge, input.xxlarge, textarea.xxlarge, select.xxlarge { width:510px;}

div.field, div.actions {
  margin-bottom: 10px;
}
div.field .hint { font-size:12px; color:#999;}

.field_with_errors {
  display:inline;
  color:#b16125;
}

.alert-message { margin-bottom:8px;}

.icon { display:inline-block;}


.simple_form {
  label.required {
    abbr { color:#c00;}
  }
}

/* bootstrap puts .clearfix inside form, doesn't make much sense */
.clearfix {
  margin-bottom: 18px;
  zoom: 1;
  &:before, &:after {
    display: table;
    content: "";
    zoom: 1;
  }
  &:after {
    clear: both;
  }
}

#error_page {
  padding:60px;
  h1 { font-size:600%; color:#aaa; margin-bottom:100px;}
  p { font-size:16px; }
}

.no_result { text-align:center; color:#999; }


.go_top {
  background:#FFF;
  text-align: center;
  border:1px solid #eee;
  display:block;
  height:20px; width:24px; 
  padding-top:4px; overflow:hidden;
  border-radius:6px;
  position: fixed;
  bottom: 15px;
  right: 15px;
}