/*
 *= require application
 *= require users
 *= require home
 *= require topics
 *= require pages
 *= require notes
 *= require_self
 *= require responsive
 */
#login {   }

.box {
  ul, ol { margin-bottom:0; }
}

.feed_link {
  padding-top:6px;
  .icon { margin-bottom:-3px; }
  a.feed { width:auto; padding-left:18px; color:#B94E22;}
  a.feed:hover { text-decoration: none; color:#333;}
}

.sidebar {
   ul, ol {
     margin:0;
     list-style-position: inside;
   }
   p { margin-bottom: 6px; }
   li { margin-bottom: 4px; }

}

/* 记事本 */
#notes{
  h1 { text-align:left; }
  .total {
    color: #999;
    padding-bottom: 5px;
    border-bottom: 1px solid #DDD;
    margin-bottom: 10px;
    margin-top:20px;
    position:relative;
    .btn { float:right; margin-top:-10px; }
  }

  ul.list {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      margin-bottom: 10px;
      a {
        font-size: 14px;
        font-weight: bold;
        color: #333;
      }
      .info {
        color: #999;
        margin-top: 5px;
      }
    }
  }

 .note {
    .body {
      font-size: 14px;
      line-height: 180%;
      min-height: 350px;
    }
    .info {
      border-bottom: 1px solid #DDD;
      padding: 5px 0;
      color: #999;
    }
    div { margin-bottom: 8px; }
    .urls {
      text-align: right;
      input { cursor: text; }
    }
    .buttons { margin-top:30px; text-align:right;}
  }
  .preview {
    h1 { text-align:left; }
  }
}

.sidebar {
  .nodes { line-height:180%;
    a { display:inline-block; margin-right:8px;}
  }
}

.cell_comments {
  .comment {
    margin-bottom:20px;
    padding-left:60px;
    position: relative;
    border-top: 1px solid #eee;
    padding-top:20px;
    
    .avatar {
      position:absolute;
      left:0;
    }
    
    .info {
      color:#aaa;
      font-size:12px;
      margin-bottom:5px;
      line-height:22px;
      padding-bottom:3px;
      
    }
    .body {
      font-size:14px;
      margin:5px 0;
    }
  }
}

.help-block ul { margin-bottom:0; }

.editor-toolbar {
  position:relative;
  margin-bottom:5px;
  .icons { position:absolute; top:3px; right:0; }
  .pills {
    margin: 0;
    list-style: none;
    li { display:inline;}
    a {
      -moz-border-radius: 8px;
      -webkit-border-radius: 8px;
      border-radius: 8px;
      padding:0 5px;
      line-height:18px;
      font-size:12px;
      margin-right:6px;
      text-shadow:0;
      color:#444;
      border:1px solid #fff;
    }
    a:hover {
      background:#fff;
      color:#00438A;
      text-decoration: underline;
      text-shadow:0;
    }
    .active {
      a {
        background:#fff;
        border:1px solid #ddd;
        color:#666;
        text-shadow:0;
      }
      a:hover { text-decoration: none;}
    }
  }
}


/* 社区分类列表 */
#sections{

  ul {list-style: none; margin-bottom: 0; margin:0; }
  label { line-height: 100%; padding-top: 8px; }
  li {
    line-height: 200%;
    font-size: 14px;
    padding: 8px 10px;
    margin:0 -10px;
    border-bottom: 1px solid #f0f0f0;
    &:last-child {
      border-bottom:0px;
    }
    position: relative;
    overflow: auto;
    label {
      font-size: 12px;
      color: #999;
      display: inline-block;
      width: 120px;
      margin-right: -130px;
      padding-right: 10px;
      float: left;
      text-align: right;
    }
    span.nodes {
      float: left;
      margin-left: 130px;
    }
    a { margin-right: 10px; }
  }
}


#hot_locations {
  ul { list-style: none; margin:0; padding:0; text-align:center; }
  li {
    margin:0; padding:0;
    display:inline;
    a {
      margin-right:10px; margin-top:10px;
      display:inline-block;
      color:#555;
      text-shadow: 0 1px 0 #fff;
    }
  }
}


/* sites_controller */
#site_nodes {
  .row { margin-left:10px;}
  .site {
    margin-bottom:10px;
    margin-left:0px;
    width:185px;
    .favicon { margin-top:-2px; width:16px; height:16px;}
  }
}

/* notifications_controller */
#notifications {
  td.face {
    padding-right: 8px;
    width: 48px;
    margin-left:0;

    img {
      width: 48px;
      height: 48px;
    }
  }

  td {
    h3 {
      font-size: 13px;
      color:#999;
      line-height: 18px;
      font-weight:normal;
      padding-bottom: 8px;
      .user {
        a { color:#666; font-weight:bold; text-decoration:underline; }
      }
    }
  }


  td.last {
    text-align: right;

    a.delete {
    }

    a.delete:hover {
      text-decoration: none;
      color: white;
      background-color: #C43C35;
    }
  }
  .highlight {
    .pre {
      width:560px;
    }
  }
  .body {
    line-height:180%; font-size:14px; text-overflow: ellipsis; word-wrap: break-word;
    a:link, a:visited { color:#0069D6; text-decoration: none; }
    a:hover { text-decoration: underline; color:#00438A; }
    a.at_floor { color:#376B43; }
    a.at_user {
      color:#333; font-weight:bold;
      i { color:#777; }
    }
    h4 { font-weight:bold; font-size:15px; line-height:100%; margin:0; color:#222; margin-top:20px; border-left:15px solid #eee; padding-left:5px; margin-bottom:8px;  }
    p { margin-bottom:10px; max-width: 814px; }
    strong { color:#000; }
    ul,
    ol {
      list-style-position: inside;
      margin:0;
      padding:5px 14px;
      p { margin:0; }
      li { line-height:160%; color:#333; font-size:13px; }
    }
    img {
      max-width:700px;
    }
  }
}

.markdown-body {
  position:relative;
  line-height: 1.8em; font-size:14px; text-overflow: ellipsis; word-wrap: break-word;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  p,
  pre,
  ul,
  ol,
  blockquote { margin-bottom: 16px; }
  
  p { font-size: 14px; line-height: 1.5em; }
  p:last-of-type { margin-bottom:0; }
  hr { border:3px solid #e0e0e0; border-bottom:0px; margin: 18px auto; width:50%; }
  blockquote {
    margin-left:20px;
    p { font-size:12px; color:#777; font-weight:normal; line-height:160%; }
  }
  pre {
    font-family:Monaco,Menlo,"Courier New", monospace; 
    font-size: 12px;
    background-color: #F5F5F5;
    border: 0px;
    padding: 5px;
    color: #444;
    overflow: auto;
    border-radius: 0px;
    code {
      padding: 0!important;
      font-size: 12px!important;
      background-color: #eee!important;
      border: none!important; }
  }
  pre::-webkit-scrollbar {
    height: 8px;
    width: 8px; }

  pre::-webkit-scrollbar-thumb:horizontal {
    width: 25px;
    background-color: #ccc;
    -webkit-border-radius: 4px; }

  pre::-webkit-scrollbar-track-piece {
    margin-bottom: 10px;
    background-color: #e5e5e5;
    border-bottom-left-radius: 4px 4px;
    border-bottom-right-radius: 4px 4px;
    border-top-left-radius: 4px 4px;
    border-top-right-radius: 4px 4px; }

  pre::-webkit-scrollbar-thumb:vertical {
    height: 25px;
    background-color: #ccc;
    -webkit-border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px white; }

  code {
    font-size: 12px!important;
    background-color: #f8f8ff !important;
    color: #444 !important;
    padding: 0 .2em!important;
    border: 0px; 
    margin: 2px;
    border-radius: 0px;
    display:inline-block;
    line-height: 20px;
    font-family:Monaco,Menlo, "Courier New", monospace; 
  }
  a:link, 
  a:visited { 
    color:#0069D6 !important; text-decoration: none !important; 
  }
  a:hover { text-decoration: underline !important; color:#00438A !important; }
  
  a.at_floor { color:#60b566 !important;  }
  a.at_user {
    color:#777 !important; font-weight: bold;
    margin-right: 2px;
    i { color:#777 !important; }
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 { 
    font-weight:bold; text-align:left; 
    margin-top: 10px !important; margin-bottom: 16px; 
  }
  h1 { font-size: 26px !important; text-align: center; margin-bottom: 30px !important; }
  h2 { 
    text-align: left;
    font-weight:bold; font-size:20px !important; line-height:100%; 
    margin:0; color:#444; margin-top:20px; 
    border-bottom:1px solid #eee; 
    padding-bottom: 10px; margin-bottom:20px;  
  }
  h3 { font-size: 18px; text-align: left; color: #444; }
    
  strong { color:#000; }
  ul,
  ol {
    list-style-position: inside;
    list-style-type: square;
    margin:0;
    margin-bottom: 20px;
    padding:0px 20px;
    p, 
    blockquote,
    pre { margin-bottom:8px; }
    li { line-height:1.6em; padding:2px 0; color:#333; font-size:13px; }
    ul { list-style-type: circle; margin-bottom: 0px; }
  }
  ol { 
    list-style-type: decimal; 
    ol { list-style-type: lower-alpha; margin-bottom: 0px; }
  }
  img { vertical-align: top; }
}

.topic .markdown-body,
.reply .markdown-body {
  h4 { 
    font-weight:bold; font-size:18px; line-height:100%; 
    margin:0; color:#444; margin-top:20px; 
    border-bottom:1px solid #eee; 
    padding-bottom: 10px; margin-bottom:20px;  
  }
}
#notifications .markdown-body,
.reply .markdown-body {
  p { font-size: 13px; }
}
