/*
 *= require application
 *= require home
 *= require users
 *= require pages
 *= require notes
 *= require_self
 */

#site_nodes .site {
  margin-bottom: 10px;
  a { color: #777; }
}

.sidebar {
  .panel-body {
    word-break: break-all;
  }
}