/*
 *= require application
 *= require users
 *= require home
 *= require topics
 *= require pages
 *= require notes
 *= require_self
 */

.feed_link {
  padding-top:6px;
  .icon { margin-bottom:-3px; }
  a.feed { width:auto; padding-left:18px; color:#B94E22;}
  a.feed:hover { text-decoration: none; color:#333;}
}

/* 记事本 */
#notes{
  h1 { text-align:left; }
  .total {
    color: #999;
    padding-bottom: 5px;
    border-bottom: 1px solid #DDD;
    margin-bottom: 10px;
    margin-top:20px;
    position:relative;
    .btn { float:right; margin-top:-10px; }
  }

  ul.list {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      margin-bottom: 10px;
      a {
        font-weight: bold;
        color: #333;
      }
      .info {
        font-size: 90%;
        color: #999;
        margin-top: 5px;
      }
    }
  }

 .note {
    .body {
      line-height: 180%;
      min-height: 350px;
    }
    .info {
      border-bottom: 1px solid #DDD;
      padding: 5px 0;
      color: #999;
    }
    div { margin-bottom: 8px; }
    .urls {
      text-align: right;
      input { cursor: text; }
    }
    .buttons { margin-top:30px; text-align:right;}
  }
  .preview {
    h1 { text-align:left; }
  }
}

.sidebar {
  .nodes { line-height:180%;
    a { display:inline-block; margin-right:8px;}
  }
}


#main .markdown_content h1 { font-size:22px; text-align:left; }

.body{
   pre {
     margin: 3px 0;
     background-color: #F5F5F5;
     border: 0px;
     padding: 5px;
     color: #444;
     overflow: auto;
     border-radius: 0px;
     code {
       padding: 0!important;
       background-color: #eee!important;
       border: none!important; }
   }
   pre::-webkit-scrollbar {
     height: 8px;
     width: 8px; }

   pre::-webkit-scrollbar-thumb:horizontal {
     width: 25px;
     background-color: #ccc;
     -webkit-border-radius: 4px; }

   pre::-webkit-scrollbar-track-piece {
     margin-bottom: 10px;
     background-color: #e5e5e5;
     border-bottom-left-radius: 4px 4px;
     border-bottom-right-radius: 4px 4px;
     border-top-left-radius: 4px 4px;
     border-top-right-radius: 4px 4px; }

   pre::-webkit-scrollbar-thumb:vertical {
     height: 25px;
     background-color: #ccc;
     -webkit-border-radius: 4px;
     -webkit-box-shadow: 0 1px 1px white; }

   code {
     background-color: #f8f8ff!important;
     color: #444!important;
     padding: 0 .2em!important;
     border: 1px solid #dedede!important; }
}

.cell_comments {
  .comment {
    margin-bottom:20px;
    padding-left:60px;
    position: relative;
    border-top: 1px solid #eee;
    padding-top:20px;
    
    .avatar {
      position:absolute;
      left:0;
    }
    
    .info {
      color:#aaa;
      font-size: 90%;
      margin-bottom:5px;
      line-height:22px;
      padding-bottom:3px;
      
    }
    .body {
      margin:5px 0;
    }
  }
}

.help-block ul { margin-bottom:0; }

.editor_toolbar {
  position: relative;
  margin-bottom: 5px;

  .icons { position:absolute; top:3px; right:0; }

  .tooltip {
    width: 100px;
    left: -40px;
  }

  .pills {
    padding-left: 0;
    margin: 0;
    list-style: none;
    li { display:inline;}
    a {
      -moz-border-radius: 8px;
      -webkit-border-radius: 8px;
      border-radius: 8px;
      padding:0 5px;
      line-height:18px;
      font-size:90%;
      margin-right:6px;
      text-shadow:0;
      color:#444;
      border:1px solid #fff;
    }
    a:hover {
      background:#fff;
      color:#00438A;
      text-decoration: underline;
      text-shadow:0;
    }
    .active {
      a {
        background:#fff;
        border:1px solid #ddd;
        color:#666;
        text-shadow:0;
      }
      a:hover { text-decoration: none;}
    }
  }
}


/* 社区分类列表 */
#sections{

  ul {padding-left: 0; list-style: none; margin-bottom: 0; margin:0; }
  label { line-height: 100%; padding-top: 8px; }
  li {
    line-height: 200%;
    padding: 8px 10px;
    margin:0 -10px;
    border-bottom: 1px solid #DDD;
    &:last-child {
      border-bottom:0px;
    }
    position: relative;
    overflow: auto;
    label {
      color: #999;
      display: inline-block;
      width: 120px;
      margin-right: -130px;
      padding-right: 10px;
      float: left;
      text-align: right;
    }
    span.nodes {
      float: left;
      margin-left: 130px;
    }
    a { margin-right: 10px; }
  }
}


#hot_locations {
  ul { list-style: none; margin:0; padding:0; text-align:center; }
  li {
    margin:0; padding:0;
    display:inline;
    a {
      margin-right:10px; margin-top:10px;
      display:inline-block;
      color:#555;
      text-shadow: 0 1px 0 #fff;
    }
  }
}


/* sites_controller */
#site_nodes {
  .site {
    margin-bottom: 1rem;
    margin-left:0px;
    .favicon { 
      vertical-align: text-bottom;
      width:16px;
      height:16px;
    }
  }
}

/* notifications_controller */
#notifications {
  h1 {
    margin-top: 5px;
  }
  td.face {
    padding-right: 8px;
    width: 48px;
    margin-left:0;

    img {
      width: 48px;
      height: 48px;
    }
  }

  td {
    h3 {
      color:#999;
      line-height: 24px;
      font-size: 16px;
      font-weight:normal;
      padding-bottom: 8px;
      margin: 0;
      .user {
        a { color:#666; font-weight:bold; text-decoration:underline; }
      }
    }
  }


  td.last {
    text-align: right;

    a.delete {
    }

    a.delete:hover {
      text-decoration: none;
      color: white;
      background-color: #C43C35;
    }
  }
  .highlight {
    .pre {
      width:560px;
    }
  }
  .body {
    line-height:180%; text-overflow: ellipsis; word-wrap: break-word;
    a:link, a:visited { color:#0069D6; text-decoration: none; }
    a:hover { text-decoration: underline; color:#00438A; }
    a.at_floor { color:#376B43; }
    a.at_user {
      color:#333; font-weight:bold;
      i { color:#777; }
    }
    h4 { font-weight:bold; font-size: 120%; line-height:100%; margin:0; color:#222; margin-top:20px; border-left:15px solid #eee; padding-left:5px; margin-bottom:8px;  }
    p { margin-bottom:10px; max-width: 814px; }
    strong { color:#000; }
    ul,
    ol {
      list-style-position: inside;
      margin:0;
      padding:5px 14px;
      p { margin:0; }
      li { line-height:160%; color:#333; }
    }
    img {
      max-width:700px;
    }
  }
}
