$feed_gadget_width: 218px;

#feedGadget {
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  width: $feed_gadget_width;
  font-size: 16px;
  
  color: #9cadd0; }

.gfg-root {
  width: $feed_gadget_width; 
  border:0px;
}

.gfg-title {
  padding-bottom: 3px;
  color: #666;
  text-align:left;
  background:none;
 }

.gfg-entry {
  height: 150px;
  overflow:hidden;
}

.gfg-root .gfg-entry .gf-result {
  padding: 0; }

.gfg-subtitle {
  background:none;
  border-bottom:1px solid #ddd;
  margin:5px 0;
  line-height:22px;
  height: 22px;
  text-align:center;
  .gfg-collapse-href {
   display:inline; float:none;
  }
  a {
    color: #999;
    text-decoration: none;
    &:hover {
      text-decoration: none; } } }

.gfg-listentry {
  padding: 4px 0px;
  margin:0;
  border-bottom: 1px solid #eeeeee;
  background: white; }

.gfg-list {
  a {
    color: #888888;
    text-decoration: none;
    font-size: 12px;
    &:hover {
      color: black; } } }

.gfg-root .gfg-entry .gf-result .gf-title a {
  color: #006bb8;
  font-weight: bold;
  font-size:12px;
  text-decoration: none;
  &:hover {
    text-decoration: underline; } }
