@import "vars";

#home_index { line-height:160%; }

.home-icons {
  .item {
    text-align: center;
    margin-bottom: 15px;
    border-radius: 3px;
    background: #FFF;
    border: 1px;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5 #dfe0e4;

    .icon {
      display: block;
      a { display: block; padding: 20px 15px; }
      .fa { font-size: 60px; }
    }
    .text {
      display: block;
      text-align: left;
      background: #F5F5F5;
      border-top: 1px solid #E9E9E9;
      font-size: 14px; font-weight:bold;

      a { display:block; color: #666; padding: 6px 15px;  }
      a:hover { text-decoration: none; }
      .fa { margin-top: 3px; }
      border-radius: 0 0 3px 3px;
    }
    &:hover {
      opacity: 0.75;
    }
  }
  .item1 {
    .icon {
      .fa { color: $redLight; }
    }
  }
  .item3 {
    .icon {
      .fa { color: $blueLight; }
    }
  }
  .item2 {
    .icon {
      .fa { color: $yellowLight; }
    }
  }
  .item4 {
    .icon {
      .fa { color: $greenLight; }
    }
  }

}

h2 {
  font-size: 12px;
  color: #999;
  line-height: 100%;
  margin-bottom: 10px;
  text-align: center;
}

#last_topics { float:left; width:450px; }
#hot_topics { float:right; width:450px; }

.node-topics {
  margin-bottom:0px;
  .head { display:none; }
}
.location-list {
    .name {
        a { color: #666; margin: 6px; display: inline-block; }
    }
}

.home_suggest_topics {
  .topics {
    .topic {
      .title {
        height: 30px;
        overflow: hidden;
      }
    }
  }
}
