#home_index { line-height:160%; }

h2 {
  font-size: 12px;
  color: #999;
  line-height: 100%;
  margin-bottom: 10px;
  text-align: center;
}

#last_topics { float:left; width:450px; }
#hot_topics { float:right; width:450px; }
.topics h2 { font-size:14px; margin-bottom:8px;}
.topics ul li { line-height:160%;}
.topics ul li a:link,
.topics ul li a:visited { color:#2C64D7;}
.topics ul li .node { color:#666; margin-right:5px;}
.topics ul li .node a:link,
.topics ul li .node a:visited { color:#666; }

.home_suggest_topics {
  h2 { 
    font-size:14px;
    margin: 0 -10px;
    padding: 0 10px 10px 10px;
    border-bottom:1px solid #ddd;
  }
  .topics {
    .topic { 
      height:50px;
      .title {
        white-space:nowrap;
        overflow:hidden;
        text-overflow:ellipsis;
      }
    }
    .topic:nth-child(odd) { width:50%; float:left;  clear:left; }
    .topic:nth-child(even) { width:50%; padding-left:50%; margin-left:10px; }
  }
}

.node_topics {
  margin-bottom:0px;
  .head { display:none; }
}
