#home_index { line-height:160%; }

h2 {
  font-size: 12px;
  color: #999;
  line-height: 100%;
  margin-bottom: 10px;
  text-align: center;
}

#last_topics { float:left; width:450px; }
#hot_topics { float:right; width:450px; }

.node-topics {
  margin-bottom:0px;
  .head { display:none; }
}
.location-list {
    .name {
        a { color: #666; margin: 6px; display: inline-block; }
    }
}
