#notes {
  .info { color: #666; }
  .media {
    &:last-child {
      padding-bottom: 0px;
      border-bottom: 0px;
    }
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 10px;

    .media-heading {
      a { font-size: 15px; }
    }
    .info { color: #AAA; font-size: 12px; }
  }

  .markdown {
    min-height: 493px;

    h2:first-child { text-align: center; }
  }
}
