#notes {
  .info { color: #666; font-size: 12px; }
  .media {
    &:last-child {
      padding-bottom: 0px;
      border-bottom: 0px;
    }
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 10px;
  }
}