#preview {
  width: 920px;
  height: 510px;
  border: 1px solid #CCCCCC;
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  padding: 5px;
  display: none;
  overflow: scroll;
}
