#notifications {
  td.face {
    padding-right: 8px;
    width: 48px;
    margin-left:0;

    img {
      width: 48px;
      height: 48px;
    }
  }

  td {
    h3 {
      font-size: 13px;
      color:#999;
      line-height: 18px;
      font-weight:normal;
      padding-bottom: 8px;
      .user {
        a { color:#666; font-weight:bold; text-decoration:underline; }
      }
    }
  }


  td.last {
    text-align: right;

    a.delete {
    }

    a.delete:hover {
      text-decoration: none;
      color: white;
      background-color: #C43C35;
    }
  }
  .highlight {
    .pre {
      width:560px;
    }
  }
  .body {
    line-height:180%; font-size:14px; text-overflow: ellipsis; word-wrap: break-word; 
    a:link, a:visited { color:#0069D6; text-decoration: none; }
    a:hover { text-decoration: underline; color:#00438A; }
    a.at_floor { color:#376B43; }
    a.at_user { 
      color:#333; font-weight:bold; 
      i { color:#777; }
    }
    h4 { font-weight:bold; font-size:15px; line-height:100%; margin:0; color:#222; margin-top:20px; border-left:15px solid #eee; padding-left:5px; margin-bottom:8px;  }
    p { margin-bottom:10px; }
    strong { color:#000; }
    ul,
    ol {
      list-style-position: inside;
      margin:0;
      padding:5px 14px;
      p { margin:0; }
      li { line-height:160%; color:#333; font-size:13px; }
    }
    img {
      max-width:700px;
    }
  }
}
