#pages {
  .tools {
    text-align:right; margin-bottom:10px;
    a {
      margin-left:10px;
    }
  }
}
#page_show {
  .info {
    text-align:right;
    padding:0 10px 10px 10px;
    border-bottom:1px solid #ddd;
    margin:0 -10px;
    margin-bottom:20px;
  }
  .editors {
    padding:10px 10px 0px 10px;
    border-top:1px solid #ddd;
    margin:0 -10px;
    margin-top:20px;
    h3 { font-size:14px; color:#999;}
  }
}

#preview {
  width: 670px;
  height: 400px;
  border: 1px solid #CCCCCC;
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  display: none;
  padding:4px;
  overflow: scroll;
}

.page_form {
  .editor_toolbar{
    width: 680px;
  }
}
