.page-pages {
  .sidebar {
    strong { color: #999; }
    ul {
      padding: 10px 10px 10px 30px;
      li { line-height: 180%; }
    }
  }

  .page-detail {
    .panel-heading {
      padding: 15px;
      h1 { font-size: 20px; color: #111; margin: 0; margin-bottom: 6px;}
    }
    .info {
      text-align:right;
      padding:10px;
      border-bottom:1px solid #eaeaea;
      margin:-10px -10px 0;
      background: #f5f5f5;
      border-radius: 3px 3px 0 0;
      margin-bottom:20px;
    }
    .editors {
      h3 { font-size:14px; color:#999;}
      .media-object { display: inline; }
      .buttons { margin-top: 10px; }
    }
  }
}
