@media (min-width: 798px) {
  .container {
    width: 750px;
  }
  .navbar-fixed-top .container, .navbar-fixed-bottom .container {
    width: 730px;
  }

  .container-fluid > .sidebar {
    width: 200px;
    display:block;
    overflow:hidden;
    .content {
      input,
      textarea { max-width:170px; }
      img { max-width:180px; }
    }
  }
  .container-fluid > .content {
    margin-left:0;
    margin-right: 220px;
  }
  .page_form {
    .editor_toolbar,
    textarea.long {
      width: 605px;
    }
  }
  .form-horizontal {
    .control-label {
      width: 100px;
    }
    .form-actions {
      padding-left: 110px;
    }
    .controls {
      margin-left: 110px;
    }
    .input-xxlarge, input.xxlarge, textarea.xxlarge, select.xxlarge {
      width: 380px;
    }
  }

  #replies .reply .body img {
    max-width: 453px;
  }
  #reply.form  {
    textarea,
    #preview {
      width: 415px;
    }
    .editor_toolbar {
      width: 425px;
    }
  }
  textarea.span16 {
    width: 720px;
  }
  #site_nodes .site {
    width: 180px;
  }
}
@media (min-width: 980px) {
  .container {
    width: 960px;
  }
  .navbar-fixed-top .container, .navbar-fixed-bottom .container {
    width: 940px;
  }

  .container-fluid > .sidebar {
    width: 240px;
    display:block;
    .content {
      input,
      textarea { max-width:200px; }
      img { max-width:210px; }
    }
  }
  .container-fluid > .content {
    margin-left:0;
    margin-right: 250px;
  }
  .btn {
    padding: 6px 18px 6px;
  }
  .form-horizontal {
    .control-label {
      width: 140px;
    }
    .form-actions {
      padding-left: 160px;
    }
    .controls {
      margin-left: 160px;
    }
    .input-xxlarge, input.xxlarge, textarea.xxlarge, select.xxlarge {
      width: 500px;
    }
  }

  #replies .reply .body img {
    max-width: 633px;
  }
  #reply.form  {
    textarea,
    #preview {
      width: 578px;
    }
    .editor_toolbar {
      width: 588px;
    }
  }
  .page_form {
    .editor_toolbar,
    textarea.long {
      width: 770px;
    }
  }
  textarea.span16 {
    width: 930px;
  }
  #site_nodes .site {
    width: 185px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1100px;
  }
  .navbar-fixed-top .container, .navbar-fixed-bottom .container {
    width: 1090px;
  }

  .container-fluid > .sidebar {
    width: 300px;
    display:block;
    .content {
      input,
      textarea { max-width:270px; }
      img { max-width:280px; }
    }
  }
  .container-fluid > .content {
    margin-left:0;
    margin-right: 320px;
  }

  .page_form {
    .editor_toolbar,
    textarea.long {
      width: 880px;
    }
  }
  textarea.span16 {
    width: 1070px;
  }
  #replies .reply .body img {
    max-width: 704px;
  }
  #reply.form  {
    textarea,
    #preview {
      width: 649px;
    }
    .editor_toolbar {
      width: 659px;
    }
  }

  #site_nodes .site {
    width: 214px;
  }
}
