$border-color:#DDD;

.tab-pane {
  .topic, .page {
    border-bottom: 1px solid $border-color;
    padding:8px;
    margin-bottom: 10px;
    .title {
      font-size: 14px;
    }
    .url { 
      font-size:12px;
      margin:2px 0;
      a { color:green; }
    }
    .info {
      color:#999;
      font-size: 12px;
      margin-bottom: 8px;
    }
  }
  .highlight {
    color: #BD121D;
  }
}
