#site_nodes {
  h2 { 
    font-size:14px; line-height:100%; color:#999; 
    padding:10px; padding-top:0;
    margin:0 -10px;
    border-bottom:1px solid #ddd; margin-bottom:20px; 
  }
  .site {
    margin-bottom:10px;
    .favicon { margin-bottom:-3px; width:16px; height:16px;}
  }
}