@import "vars";

.toc-container {
  position: relative;
  display: none;
}

.toc-panel {
  display: none;
  position: absolute;
  background: white;
  border: 1px solid lightgray;
  padding: 10px;
  box-shadow: 1px 1px 5px 0 lightgrey;
  width: 300px;
  max-height: 400px;
  overflow-y: scroll;
}

#toc-panel-title {
  display: inline-block;
}

#close-toc-panel {
  display: none;
  margin: 7px 0;
  font-size: 10px;
  width: 20px;
  line-height: 20px;
  background: $redLight;
  text-align: center;
  color: white !important;
  border-radius: 10px;
}

#toc-list {
  margin-bottom: 0;
}

.toc-item {
  &.toc-level-2 {
    margin-left: 0;
  }

  &.toc-level-3 {
    margin-left: 15px;
  }

  &.toc-level-4 {
    margin-left: 30px;
  }

  &.toc-level-5 {
    margin-left: 45px;
  }

  &.toc-level-6 {
    margin-left: 60px;
  }
}

.markdown a.toc-item-link:link {
  color: $blackLight !important;

  &:hover {
    text-decoration: none;
  }

  &:visited {
    color: $blackLight !important;
  }
}

@media (max-width: 768px) {
  .toc-panel {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1031;
    max-height: 100%;
    padding: 15%;
  }

  #close-toc-panel {
    display: inline;
  }
}