.topics .topic .title a:link,
.topics .topic .title a:visited,
.node_topics .title a:link,
.node_topics .title a:visited {color:#2c64d7; text-decoration: none;}
.topics .topic  .title a:hover,
.node_topics .title a:hover { text-decoration: underline; }

.sidebar p { margin-bottom:8px;}

.topics {
   .topic {  
      .avatar_large { width:64px; }
      .avatar { width:56px; margin-left:10px; }
      .infos { padding-right:74px; }
      .right_info { padding-left:66px;}
      .title { font-size:14px; }
      .info { color:#999; margin-bottom:2px; }
      a:link, a:visited { color:#999; text-decoration: underline; }
      .replies { 
         width:70px; margin-right:10px; text-align:right; vertical-align:middle; 
         a.count,a.count:visited { line-height: 12px; font-weight: bold; color: white; 
           background-color: #1c7fdb; display: inline-block; 
           padding: 2px 10px 2px 10px; 
           -moz-border-radius: 12px; -webkit-border-radius: 12px; 
           margin: 18px 12px 0px 0px; text-decoration: none; 
         }
         a.count:hover { color:write; background-color:#1F8AEE; }
         a.state_true:link,a.state_true:visited { background:#DDD; }
         a.state_true:hover { background:#1dc115;}
      }
   }
   .body {
       margin-bottom:10px; line-height:160%; font-size:14px; margin-top:8px; word-wrap: break-word;
       p { margin-bottom:10px; }
       img { max-width:690px;}
   }
   .tools { text-align:right; height:16px; overflow:hidden;}
   .topic_line {border-bottom:1px solid #DDD; padding:10px 0; margin:0 -10px; vertical-align:top; }
   tr.topic td.replies { text-align:right; width:50px; font-size:14px; color:green;font-weight:bold; }
}


#main .topics .topic h1 { font-size:22px; color:#333; margin-top:6px; text-align: left; line-height:100%;margin-bottom:8px;}

.more { padding:8px; padding-bottom:0; font-size:14px; text-align:right; }
.share_buttons { height:16px; }
.pagination { margin:0; margin-top:10px; }

/* topics list in node page */

.node_topics {
  margin-bottom: 16px; 
  tr td {
    padding: 8px; }
  tr.head td {
    padding-top: 14px;
    color: #CCC;
    font-weight: bold;
    font-size: 12px; }
  tr.topic td.title {
    font-size: 14px;
    font-weight: bold; }
  tr.topic td.author {
      width: 80px; }
  tr.topic td.author a {
    color: #666;
    font-weight: bold; }
}

.no_result { margin-bottom:20px; text-align:center; }

#node_info { 
  margin:0 -10px; padding:0 10px; border-bottom:1px solid #ddd; 
  h1 { text-align:right; font-size:15px; }
  h2 { line-height:100%; display:inline; font-size:16px; margin-right:10px;}
  .desc { color:#999; }
  .feed {
    float: right;
    .icon { margin-bottom: -3px; }
    a {
      width: auto;
      padding-left: 18px;
      color: #B94E22;
      &:hover {
        text-decoration: none;
        color: #333;
      }
    }
  }
}

#replies {}
#replies .total { padding-bottom:6px; color:#999; }
#replies .reply { border-top:1px solid #DDD; padding:8px 10px; margin:0 -10px;}
#replies .reply.light { background:#F7F2FC;}
#replies .reply .face { padding-right:8px; width:48px; margin-left:0; }
#replies .reply .infos { padding-left:58px;}
#replies .reply .info { margin-top:4px; color:#999;height:20px;}
#replies .reply .info a:link,
#replies .reply .info a:visited { color:#999; text-decoration: underline;}
#replies .reply .info .name { float:left; }
#replies .reply .info .time { float:right; text-align:right; }
#replies .reply .info a.reply_link img { vertical-align:middle;}
#replies .reply .body { line-height:180%; font-size:14px; text-overflow: ellipsis; word-wrap: break-word; }
#replies .reply .body img { max-width:622px;}

#reply.form textarea { width:578px; }

.edit_tools { text-align:left; margin-bottom:2px }

.totals ul li { line-height:150%;}

#topic_new_tip li { margin-bottom:6px;}

.body a.at_floor { color:#376B43; }
.body a.at_user { }

#topics_recent { 
  h2 { 
    margin:0 -10px; padding:0 10px;
    font-size:14px; color:#999; line-height:100%;
    border-bottom:1px solid #ddd; padding-bottom:8px;
  }
  .node {
    margin-right:6px;
    a { color:#333; background:#eee; -webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px; padding:3px;font-size:11px; }
  }
  .info { font-size:12px; color:#999; 
    margin-left:6px;
    a { color:#999; text-decoration: underline;}
  }
  ul {
    margin:0; padding:0;
    li {
      margin:0 -10px; padding:6px 10px;
      list-style:none; border-bottom:1px dashed #ddd;
    }
  }
  .more { }
}

#reply {
  form {
  }
  .editor_toolbar {
    width:588px;
  } 
}

.sidebar {
  .hot_nodes {
    ul {
      margin: 0;
      list-style: none;
      li {
        display: inline;
        margin: 0;
        padding: 0;
        a {
          display: inline-block;
          margin-right: 3px;
          margin-bottom: 6px;
          padding: 2px 10px;
          color: #778087;
          text-decoration: none;
          background-color: #f5f5f5;
          -moz-border-radius: 3px;
          -webkit-border-radius: 3px;
          border-radius: 3px;
          &:hover {
            color: white;
            background-color: #99a;
          }
        }
      }
    }
  }
}

#preview {
  /* copied from twitter bootstrap */
  margin-top:0px;
  border: 1px solid #ccc;
  padding:10px;
  min-height:400px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  #reply & {
    width: 568px;
    min-height:72px;
  }
}