@import "vars";

$primary: #e23c28;
$primary-dark: #af2913;

.hide-ios { display: none !important; }
body {
  padding-top: 0;
  background: #FFF;
}

.btn-primary {
  background: $primary !important;
  border-color: $primary-dark !important;

  &.active,
  &:active {
    background: $primary-dark !important;
    border-color: $primary-dark !important;
  }
}

.btn-danger {
  background: #555 !important;
  border-color: #333 !important;

  &:active {
    background: #333 !important;
    border-color: #111 !important;
  }
}

.header, .footer,
.index-sections, .index-locations { display: none; }
#node-selector .panel {
  display: block;
  padding: 0px;
  box-shadow: 0 0 0;
  border: 0px;
  .panel-body { border:0; }
  .media-left { display: none; }
}

.container {
  padding: 0;
}

.sidebar { padding: 0; display: none; }
#main > .row {
  margin: 0;
  .col-md-9,
  .col-md-8,
  .col-md-6,
  .col-md-5,
  .col-md-4,
  .col-md-3 { padding: 0; }
}

.panel {
  border-radius: 0;
  margin-bottom: 0 !important;
  box-shadow: 0 0 0;
  border-top: 0px solid #f0f0f0;
  border-bottom: 0px solid #f0f0f0;

  &:last-child {
    border-bottom: 0;
  }

  .panel-body,
  .panel-heading,
  .panel-footer {
    background: #fff;
    border-color: #f0f0f0;
    border-radius: 0 !important;
    padding: 10px 20px;
  }

  .panel-footer { background: #f0f0f0; padding: 5px 20px; }
}

.container > .alert {
  margin-right: 0;
}
.alert {
  border-radius: 0;
  border: 0;
  box-shadow: 0;
  padding: 10px;
  font-size: 14px;
  border-top: 0;
  margin-bottom: 0px;

  .close {
    opacity: .4;
    margin-top: 2px;
  }
}
.alert-success {
  background: #c3ffb8;
  border-color: #b6f3b8;
  color: #00a21c;
}
.alert-warning {
  background: #fff8b8;
  color: #CD8546;
  border-color: #faebcc;
}

.form-control {
  -webkit-appearance: none;

  &:focus {
    border-color: #ccc;
  }
}

.pagination { display: none; }

.topics {
  .topic-list-heading {
    display: none;
  }
}

.editor-toolbar {
  .dropdown-menu {
    left: auto;
    right: 0;
  }
}

.topic-editor {
  height: 140px;
}

.no-result { display: none; }

.new_reply {
  .submit-buttons {
    #reply-button { display: block; width: 100%; }
    .help-inline,
    .pull-right { display: none; }
  }
}

.edit-reply {
  .panel-heading { display: none; }
  .col-xs-2 { display: block; width: 50%; }
}

.topics {
  .topic {
    min-height: 60px;
    padding: 15px;
    border-bottom-color: #eee;
    &:active {
      background: #f5f5f5;
    }

    .avatar {
      padding-top: 3px;
    }

    .title {
      margin-bottom: 4px;
      a {
        font-size: 16px;
        line-height: 24px !important;
      }
      a:hover,
      a:active {
        text-decoration: none;
      }
    }

    .info {
      font-size: 14px;

      a.node {
      }
    }

    &.topic-visited {
      .title {
        a:link,
        a:visited { color: #666; }
      }
      .info {
        color: #bbb;
        a { color: #bbb; }
      }
      .count {
        a:link,
        a:visited {
          color: #ddd;
        }
      }
    }

    .count {
      padding-top: 0px;
      padding-left: 0;
      width: auto;
      text-align: right;
      a:link,
      a:hover,
      a:visited {
        font-size: 14px;
        line-height: 11px;
        min-width: 28px;
        text-align: right;
        border-radius: 80px;
        padding: 0;
        display: inline-block;
        text-decoration: none;
      }

      a:link { background: transparent; color: #666;}
      a:hover { background: transparent;  }
      a.state-true,
      a:visited { background: transparent; color: #ddd; }
    }
  }
}

.topic-detail {
  .label-awesome {
    padding: 15px 20px 0 20px;
    margin-top: -1px;
    background: #FFF;
    border: 0;
    color: $primary;
    .fa.awesome {
      color: $primary;
    }
    a { color: #cccaa2; }
  }

  .panel-heading {
    position: relative;
    h1 {
      font-size: 20px;
      margin-bottom: 0;

      a.node {
        display: block;
        font-size: 15px;
        line-height: 24px;
        height: 30px;
        text-align: right;
        font-weight: normal;
      }
    }

    .media-right {
      display: block; position: absolute; top: 15px; left: 15px;
      .avatar-48 { width: 24px; height: 24px; }
    }
  }

  .info {
    font-size: 14px;
    color: #999;

    .user-name {
      color: #666;
    }

    .node { color: $primary; }
  }

  .toc-container { display: none !important; }
}

.markdown {
  p { font-size: 16px; }
  .zoom-image {
    overflow: hidden;
    display: block;
    margin: 8px -20px !important;
    img {  width: 100%; }
  }

  h2,
  h3,
  h4,
  h5,
  h6 { border-bottom: 0 !important; padding-bottom: 0 !important; }

  pre {
    background: #fefeff !important;
    border-color: #f0f0f0 !important;
    padding: 10px 20px !important;
    margin-left: -20px !important;
    margin-right: -20px !important;
    code {
      background: #fefeff !important;
      margin: 0;
    }
  }
}

#replies {
  .reply {
    margin: 0 -20px;
    padding: 15px 20px 40px 20px;

    &.reply-system {
      padding: 15px 20px;
    }

    .avatar { left: 20px; }
    .avatar-48 {
      width: 24px;
      height: 24px;
    }

    .info {
      .name { font-size: 14px; }
      padding-left: 32px;
      font-size: 14px;
      line-height: 24px;

      .sub-info { float: right; }
    }

    .reply-to-block {
      .info {
        padding-left: 0px;
        line-height: 16px;
      }
    }

    .opts {
      position: absolute;
      right: 15px;
      bottom: 15px;
    }
  }
}

.notifications {
  .notification-group {
    .group-title {
      margin: 0 -15px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

.opts {
  a:link,
  a:visited {
    color: #444 !important;
  }
  a.active {
    .fa { color: $primary; }
  }
}

.page-topics {
  .panel {
    &.topic-detail,
    &#replies,
    &#reply {
      border-bottom-width: 1px;
    }
  }
}

.page-pages {
  .wiki-sidebar { display: block; }
}

.page-users {
  .sidebar {
    display: block;
    .profile {
      .opts { display: none; }
    }
  }

  #user_github_repos { display: none; }
  .nav-tabs {
    margin-top: 15px;
    li > a {
      border: 0;
      padding: 8px 8px;
    }

  }

  .node-topics {
    border-bottom: 1px solid #ddd;
  }
}

.setting-menu {
  padding-left: 0;
  .nav-stacked.nav-pills > li a {
    border-radius: 0 !important;
    border-left: 0;
  }
}
