.subnav {
  margin-bottom:-18px;
  .nav-tabs {
    border-bottom:0px;
    padding-left:20px;
  }
  .nav-tabs > li > a:hover {
    border-color:transparent;
    background:none;
    text-decoration:underline;
  }
  .nav-tabs > .active > a, .nav-tabs > .active > a:hover {
    color: #555555;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    cursor: default;
  }
}
.node-topics {
  td.title {
    a:link,
    a:visited {color:#2c64d7; text-decoration: none;}
    a:hover { text-decoration: underline; }
    em { font-style:normal; font-size:12px; color:#bbb; }
    i.icon { margin-bottom: -1px; }
  }
  tr.head {
    td {  border-top:none; padding-top:14px; color:#CCC; font-weight:bold; font-size:12px; }
  }
  tr.odd {
    td { background:#F9F9F9; }
  }
  tr.topic {
    td.author {
      width:80px;
      a { color:#666; font-weight:bold; }
    }
  }
}

.recent-topics {
  ul {
    li {
      .title {
        font-size:14px;
      }
      i.icon { margin-bottom: -1px; }
      .info { margin-top:3px; font-size:12px; color:#bbb; }
      .node {
        margin-right:5px;
        a { color:#444; }
      }
    }
  }
}

.recent-replies {
  li {
    .title {
      font-size:14px;
      .info { font-size:12px; color:#bbb; }
    }
    .body {
      a { color:#333; }
      margin-top:6px; color:#333;
      p { font-size:13px; }
      img { max-width:680px; }
    }
  }
}


.row > .span13 { margin-left:0;}
#main .userinfo h1 { text-align: left; display:inline; }
.userinfo {
  .tagline { text-align:left; margin-top:-8px; margin-bottom:20px;}
  ul { list-style:none; }
  li {
    font-size:14px; line-height:180%; border-bottom:1px dashed #eee;
    label { color:#999; font-size:12px; margin-right:8px; display:inline-block; width:100px; text-align: right;}
  }

}

.bio {
  font-size:12px; line-height:180%;
  p:last-child { margin-bottom:0; }
}

.replies ul {
  margin:0;
  h6 { color:#999; font-weight:normal; }
  li { line-height:180%; border-bottom:1px solid #ddd; list-style: none;}
  blockquote { line-height:160%; }
}

.content > .tabs {
  border-bottom:2px solid #ccc;
  .active { margin-bottom:0;}
}

table.node-topics {
  td {
    a { color:#333; font-weight:normal; }
  }
  td.replied-at { width:80px; }
}

.user-list {
  h2 { font-size:14px; margin:0; }
  .user {
    text-align:center; margin-bottom:20px;
    overflow: hidden;;
    .avatar {
      img { width:48px; height:48px; margin: 0 auto;}
      margin-bottom: 5px;
    }
    .name {
      a { color: #333; }
    }
  }
}

#user_github_repos {
  .more { text-align:right; }
  ul { margin:0; }
  li {
    .title {
      position:relative;
      a { color:#333; font-weight:bold; }
      .watchers { position:absolute; top:2px; right:0; }
    }
    .desc { font-size:12px; color:#888; }
  }
}

.body {
  img{ 
    max-width: 100%;
  }
}
