//背景
$r-body-bg: #e5e5e5;
//主题背景
$r-background-bg: #ffffff;
// 导航链接
$r-nav-link-color: #444;
$r-nav-link-active-color: #d71900;
// 导航高度
$r-nav-height: 42px;
// 用户设置 hover 高亮
$r-nav-user-hover-bg: #0069d6;
$r-nav-user-hover-color: #fff;

// box title color
$r-box-title-color: #f5f5f5;
