$primary: #222;
$secondary: #666;
$gray: #F2F2F2;
$red: #D00D2E;
$yellow: #FEE209;
$blue: #0E35E0;
$green: #19A302;

$body-bg: #FFF;
$theme-colors: (
  "primary": $primary,
  "warning": $yellow,
);

$colors: (
  "blue": $blue,
  "red": $red,
  "yellow": $yellow,
  "green": $green,
  "white": #FFF,
  "gray": $gray,
  "gray-dark": $gray
) !default;


/* Animations */
.animated {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes bounceIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(.5);
    }

    50% {
        opacity: 1;
        -webkit-transform: scale(1.5);
    }

    70% {
        -webkit-transform: scale(.9);
    }

    100% {
         -webkit-transform: scale(1);
    }
}

@keyframes bounceIn {
    0% {
        opacity: 0;
        transform: scale(.5);
    }

    50% {
        opacity: 1;
        transform: scale(1.5);
    }

    70% {
        transform: scale(.9);
    }

    100% {
        transform: scale(1);
    }
}

.bounceIn {
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
}
