<% content_for :sitemap do %>
  <a href="<%= cpanel_nodes_path %>"><%= t("cpane.menu.nodes")%></a> &gt; <span class="current"><%= t("common.create")%></span>
<% end %>
<h1>New node</h1>

<%= render 'form' %>
