<div class="comment">
  <div class="info">
    <%= user_avatar_tag(item.user, :small) %> <span class="name"><%= user_name_tag(item.user) %></span> 发表于与 <%= timeago(item.created_at) %>
  </div>
  <div class="body">
    <%= raw item.body_html %>
  </div>
</div>