<% content_for :sitemap do %>
  <a href="<%= admin_users_path %>"><%= t("admin.menu.users")%></a> <i class="fa fa-angle-right"></i> <span class="current"><%= t("common.create")%></span>
<% end %>
<h1>New user</h1>

<%= render 'form' %>
