<form action="/search" class="pull-left" method="get">
    <input type="text" name="q" placeholder="<%= t("common.search")%>" <% if controller_name == "search" and params[:q] %>value="<%= params[:q] %>"<% end %> />
</form>
