<form action="/search" class="pull-left" method="get">
    <input type="text" name="q" placeholder="<%= t("common.search")%>" <% if params[:action] == "search" and params[:key] %>value="<%= params[:key] %>"<% end %> />
</form>
