<form action="/search" class="navbar-search pull-left" method="get">
  <input type="text" name="q" class="search-query span3" value="<%= params[:q] %>" placeholder="<%= t("common.search") %>" />
</form>
