<div class='share_buttons' data-title="<%= title %>">
  <a href="#" rel="nofollow" rel="twipsy" data-site="twitter" class="icon share_icons_twitter" title="<%= t("share.to_twitter") %>"></a>
  <a href="#" rel="nofollow" rel="twipsy" data-site="weibo" class="icon share_icons_weibo" title="<%= t("share.to_weibo") %>"></a>
  <a href="#" rel="nofollow" rel="twipsy" data-site="douban" class="icon share_icons_douban" title="<%= t("share.to_douban") %>"></a>
</div>