<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" style="background: #e9eaed;">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
      * { margin:0; padding:0px; }
      #outlook a { padding: 10px; } /* Force Outlook to provide a "view in browser" menu link. */
      body {
        width:100% !important; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%;
      }
      .ExternalClass {width:100%;} /* Force Hotmail to display emails at full width */
      .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {line-height: 100%;} /* Force Hotmail to display normal line spacing.  More on that: http://www.emailonacid.com/forum/viewthread/43/ */
      #backgroundTable {margin:0; padding:0; width:100% !important; line-height: 100% !important;}
      
      a { color: #0069D6; }
      table { width:100%; border:0; }
      table tr td { font-size:12px; }
      
      p {
        margin: 0;
        padding: 5px;
        margin-bottom: 15px;
      }
      p:last-child {
        margin-bottom: 0;
      }
      
      .btn {
        border-radius: 3px;
        font-size: 16px;
        cursor: pointer;
        border: solid #356DD0;
        border-width: 8px 12px;
        outline: 0 !important;
        text-decoration: none;
        background-color: #356DD0;
        color: #FFF;
        text-align: center;
      }
      
      .text-danger { color: #EB5424; }
      .text-muted { color: #999; }
      
      p.lead { font-weight: bold; }
    </style>
  </head>
  <body style="background: #e9eaed; font-family: Helvetica, Arial, sans-serif; font-size: 13px;">
    <div style="height: 20px;"></div>
    <div style="background: #FFF; margin: 20px; padding: 20px; border-radius: 3px; border: 1px; border-color: #e5e6e9 #dfe0e4 #d0d1d5; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);">
      <%= yield %>
    </div>
    <div style="color: #9CA4A9; margin: 10px 20px; margin-top: 10px; line-height: 150%;">
      <div class="do-not-reply"><%= t("mail.this_is_a_notification_mail_please_do_not_reply") %></div>
      <div><%= link_to Setting.app_name, root_url, style: 'color: #888888' %></div>
    </div>
    <div style="height: 20px;"></div>
  </body>
</html>
